<a href="https://colab.research.google.com/github/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_3-Explorando_o_Datetime_dos_dados/Dia_3_Explorando_o_Datetime_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dia 1 - Importação de dados

In [1]:
import pandas as pd

In [2]:
dados_2010_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/36a2c54d-0ed6-46bd-a3e9-161c39c0eac6/download/emprestimos-20101.csv',sep=';')
dados_2010_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/b954b071-5d8f-43d0-b956-e47c9922cc1a/download/emprestimos-20102.csv',sep=';')
dados_2011_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/bae6ed0a-9430-4d5c-9b90-72ffe6e023df/download/emprestimos-20111.csv',sep=';')
dados_2011_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/629c232f-7249-4dbd-8928-0c53af7e9b2a/download/emprestimos-20112.csv',sep=';')
dados_2012_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f9540095-6894-4ffa-b10d-b0ffbb17aa5f/download/emprestimos-20121.csv',sep=';')
dados_2012_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/7bec7701-0778-43f8-a327-540c6ec94fb6/download/emprestimos-20122.csv',sep=';')
dados_2013_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c54c4556-1ca2-4918-963d-f066082e4ee0/download/emprestimos-20131.csv',sep=';')
dados_2013_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/043d7156-67e9-4492-9ec7-8b7353b47bfa/download/emprestimos-20132.csv',sep=';')
dados_2014_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/8e97f632-a6fe-4349-b06b-f650e804a7b9/download/emprestimos-20141.csv',sep=';')
dados_2014_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/832df6b3-ccb0-4370-832b-193a2fe90085/download/emprestimos-20142.csv',sep=';')
dados_2015_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/2d18b7a9-b458-4668-8858-037c55049d40/download/emprestimos-20151.csv',sep=';')
dados_2015_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f07e4501-8632-487f-adf0-116d5b6fb4fe/download/emprestimos-20152.csv',sep=';')
dados_2016_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/17955462-aa54-45c7-9820-e9ab7d128be4/download/emprestimos-20161.csv',sep=';')
dados_2016_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/04ed856a-c6bd-4c67-a08b-ad7f382dcd7e/download/emprestimos-20162.csv',sep=';')
dados_2017_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/54f56d6f-a5cc-41d9-88d6-4f4292fe26bc/download/emprestimos-20171.csv',sep=';')
dados_2017_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/79d668de-5d2a-4c1e-ad62-5f2933d36600/download/emprestimos-20172.csv',sep=';')
dados_2018_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/5cac670e-a90f-4ba3-95f5-65b7d82a538a/download/emprestimos-20181.csv',sep=';')
dados_2018_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/02a9e1d6-900c-450e-8e8f-90fac8125a96/download/emprestimos-20182.csv',sep=';')
dados_2019_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/66f1737b-5732-4029-8b22-2698be3e24ca/download/emprestimos-20191.csv',sep=';')
dados_2019_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/51786bd8-e61c-4e4d-8ff9-51602f4e37e3/download/emprestimos-20192.csv',sep=';')
dados_2020_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c7e609a6-0daf-449b-8564-1876be6e69d5/download/emprestimos-20201.csv',sep=';')

In [3]:
emprestimos_biblioteca = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [4]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  nome_usuario                                tipo_vinculo_usuario
2433391        2013109357     2017/05/22 23:14:56.152000000  2017/05/08 14:46:55.784000000  2017/06/06 18:40:23.000000000  2.016019e+09        KLYFTON STANLEY FERNANDES DA SILVA QUEIROZ  ALUNO DE GRADUAÇÃO        2
2384297        2009036111     2017/03/27 10:36:05.024000000  2017/03/09 12:09:38.663000000  2017/04/20 14:07:26.000000000  2.015400e+10        VANESSA DE PAIVA MELO                       ALUNO DE PÓS-GRADUAÇÃO    2
2384292        2013077602     2017/03/22 08:49:02.962000000  2017/03/09 12:04:50.106000000  2017/04/10 16:50:18.000000000  2.017014e+10        ISABELA AZEVEDO MEDEIROS DO NASCIMENTO      ALUNO DE GRADUAÇÃO        2
2384289        2014000896     2017/03/24 11:02:03.616000000  2017/03/09 12:03:28.507000000  2017/03/30 08:18:20.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
2384288        2006033777     2017/03/24 11:02:03.667000000  2017/03/09 12:03:28.439000000  2017/03/30 08:18:26.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                                                                    ..
1409724        2011052993     2013/02/18 11:42:51.866000000  2013/02/04 09:40:15.322000000  2013/03/06 15:51:22.000000000  2.012964e+09        JALLYNE NUNES VIEIRA                        ALUNO DE GRADUAÇÃO        1
1409725        2010030999     2013/02/19 14:50:23.773000000  2013/02/04 09:40:35.709000000  2013/03/06 18:40:21.000000000  2.009051e+09        DANIEL ANDERSON XAVIER SOUZA                ALUNO DE GRADUAÇÃO        1
1409728        2007023306     2013/02/18 19:34:50.113000000  2013/02/04 09:40:51.264000000  2013/02/25 13:44:14.000000000  2.011038e+09        PRISCILA FERREIRA DA COSTA                  ALUNO DE GRADUAÇÃO        1
1409729        2010049655     2013/02/19 17:54:56.786000000  2013/02/04 09:41:03.685000000  2013/03/06 10:50:44.000000000  2.012964e+09        JESSICA RAISSA CARLOS GOMES                 ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        WILLYENNE GOMES DE LIMA                     ALUNO DE GRADUAÇÃO        1
Length: 916948, dtype: int64

In [5]:
emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [6]:
emprestimos_biblioteca.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO

In [7]:
dados_exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,691,14
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

#Dia 2 - As primeiras manipulações

In [8]:
import pandas as pd

In [9]:
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [10]:
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,691,14
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [11]:
emprestimos_completo = emprestimos_biblioteca.merge(dados_exemplares,'left')
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,110098.0
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,110171.0
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,134173.0
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,67712.0
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,205153.0

In [12]:
emprestimos_completo = emprestimos_completo.drop(columns=['nome_usuario','registro_sistema'])
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0

In [13]:
emprestimos_completo['matricula_ou_siape'] = emprestimos_completo['matricula_ou_siape'].astype('string')

In [14]:
CDU_lista = []
for CDU in emprestimos_completo['localizacao']:
  if(CDU < 100):
    CDU_lista.append('Generalidades')
  elif(CDU < 200):
    CDU_lista.append('Filosofia e psicologia')
  elif(CDU < 300):
    CDU_lista.append('Religião')
  elif(CDU < 400):
    CDU_lista.append('Ciências sociais')
  elif(CDU < 500):
    CDU_lista.append('Classe vaga')
  elif(CDU < 600):
    CDU_lista.append('Matemática e ciências naturais')
  elif(CDU < 700):
    CDU_lista.append('Ciências aplicadas')
  elif(CDU < 800):
    CDU_lista.append('Belas artes')
  elif(CDU < 900):
    CDU_lista.append('Linguagem')
  else:
    CDU_lista.append('Geografia. Biografia. História.')

emprestimos_completo['CDU_geral'] = CDU_lista

In [15]:
emprestimos_completo['CDU_geral'] = CDU_lista

In [16]:
emprestimos_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas

# Dia 3 - Explorando o Datetime dos dados

In [17]:
import pandas as pd

In [18]:
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,Ciências aplicadas
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,Ciências aplicadas
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,Ciências aplicadas
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,Ciências aplicadas
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,Generalidades

In [19]:
emprestimos_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142806 entries, 0 to 2142805
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    string
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  CDU_geral             object
dtypes: float64(2), int64(1), object(9), string(1)
memory usage: 228.9+ MB

In [20]:
emprestimos_completo['tipo_vinculo_usuario'].unique()

array(['ALUNO DE GRADUAÇÃO', 'ALUNO DE PÓS-GRADUAÇÃO', 'DOCENTE',
       'SERVIDOR TÉCNICO-ADMINISTRATIVO', 'DOCENTE EXTERNO',
       'ALUNO MÉDIO/TÉCNICO', 'USUÁRIO EXTERNO', 'OUTROS'], dtype=object)

In [21]:
emprestimos_completo['colecao'].unique()

array(['Acervo Circulante', nan, 'Folhetos', 'Acervo de Desbaste',
       'Teses', 'Dissertações', 'Monografias',
       'Publicações de Autores do RN', 'Publicações da UFRN',
       'Multimeios', 'Coleção Mossoroense', 'Eventos',
       'Trabalho Acadêmico', 'Obras de Referência', 'Obras Raras',
       'Literatura de Cordel', 'Coleção Zila Mamede',
       'Necessidades Educacionais Específicas'], dtype=object)

In [22]:
emprestimos_completo['biblioteca'].unique()

array(['Biblioteca Central Zila Mamede',
       'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba',
       'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN',
       'Biblioteca Setorial do Centro Ciências da Saúde - CCS', nan,
       'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia',
       'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET',
       'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA',
       'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó',
       'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT',
       'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ',
       'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA',
       'Biblioteca Setorial do Departamento de Artes - DEART',
       'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT',
       'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe',
       'Biblioteca Setorial Moacyr de Góes - CE',
       'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB',
       'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN',
       'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó',
       'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos',
       'Biblioteca Setorial do Núcleo de Educação da Infância - NEI',
       'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz',
       'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz',
       'Biblioteca Setorial Veríssimo de Melo - Museu Câmara Cascudo - MCC'],
      dtype=object)

In [23]:
emprestimos_completo['status_material'].unique()

array(['REGULAR', nan, 'ESPECIAL', 'NÃO CIRCULA'], dtype=object)

In [24]:
emprestimos_completo['id_emprestimo'].value_counts()

2560028    3
2422542    3
2014596    3
2772079    3
2595954    3
          ..
1437859    1
1437858    1
1437857    1
1437856    1
2989090    1
Name: id_emprestimo, Length: 2139267, dtype: int64

In [25]:
emprestimos_completo.loc[emprestimos_completo['id_emprestimo']==2560028]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
1712958,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1055921.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,671.0,Ciências aplicadas
1712959,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1055569.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699.0,Ciências aplicadas
1712960,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1056359.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,363.0,Ciências sociais

In [26]:
emprestimos = len(emprestimos_completo['id_emprestimo'].drop_duplicates())
emprestimos

2139267

## Quantos exemplares foram emprestados ao total ?

In [27]:
exemplares = len(emprestimos_completo)
exemplares

2142806

## Quantos foram por cada ano ?

In [28]:
emprestimos_data = pd.DataFrame(emprestimos_completo['data_emprestimo'].value_counts()).reset_index()
emprestimos_data.columns = ['data','quantidade']
emprestimos_data['data'] = pd.to_datetime(emprestimos_data['data'])
emprestimos_data

                           data  quantidade
0       2010-12-06 00:00:00.000           6
1       2010-12-15 00:00:00.000           5
2       2010-11-24 00:00:00.000           4
3       2010-08-09 16:03:57.373           3
4       2015-06-10 18:51:56.994           3
...                         ...         ...
2139184 2013-03-01 20:26:43.853           1
2139185 2013-03-01 20:26:43.806           1
2139186 2013-03-01 20:24:56.349           1
2139187 2013-03-01 20:23:26.277           1
2139188 2020-06-09 11:54:02.852           1

[2139189 rows x 2 columns]

In [29]:
emprestimos_por_ano = emprestimos_data.groupby(by=emprestimos_data.data.dt.year).sum()
emprestimos_por_ano

      quantidade
data
2010      196147
2011      229548
2012      250260
2013      259599
2014      235725
2015      225317
2016      107405
2017      229527
2018      202614
2019      180028
2020       26636

In [30]:
emprestimos_por_ano['percentual'] = round((emprestimos_por_ano.quantidade / emprestimos_por_ano.quantidade.sum()) * 100, 2)
emprestimos_por_ano

      quantidade  percentual
data
2010      196147        9.15
2011      229548       10.71
2012      250260       11.68
2013      259599       12.11
2014      235725       11.00
2015      225317       10.52
2016      107405        5.01
2017      229527       10.71
2018      202614        9.46
2019      180028        8.40
2020       26636        1.24

## Quantos foram por cada mês ?

In [31]:
emprestimos_por_mes = emprestimos_data.groupby(by=emprestimos_data.data.dt.month).sum()
emprestimos_por_mes

      quantidade
data
1          66895
2         206206
3         246679
4         208823
5         199245
6         133598
7         130812
8         253100
9         227147
10        206765
11        180909
12         82627

In [32]:
emprestimos_por_mes['percentual'] = round((emprestimos_por_mes.quantidade / emprestimos_por_mes.quantidade.sum()) * 100, 2)
emprestimos_por_mes

      quantidade  percentual
data
1          66895        3.12
2         206206        9.62
3         246679       11.51
4         208823        9.75
5         199245        9.30
6         133598        6.23
7         130812        6.10
8         253100       11.81
9         227147       10.60
10        206765        9.65
11        180909        8.44
12         82627        3.86

## Quantos foram por cada ano e mês ?

In [33]:
emprestimos_por_ano_e_mes = emprestimos_data.groupby(by=[emprestimos_data.data.dt.year,emprestimos_data.data.dt.month]).sum()
emprestimos_por_ano_e_mes.index.names = ['ano','mes']
emprestimos_por_ano_e_mes

          quantidade
ano  mes
2010 1          5408
     2         12097
     3         23417
     4         19509
     5         19315
...              ...
2020 1          3722
     2         11083
     3         11821
     5             8
     6             2

[119 rows x 1 columns]

### INCONSISTÊNCIA

In [34]:
emprestimos_por_ano_e_mes.reset_index().pivot(index='mes',columns='ano')

    quantidade                                                                 \
ano       2010     2011     2012     2013     2014     2015     2016     2017
mes
1       5408.0   1871.0   8058.0   8508.0  16887.0   6981.0      NaN   5288.0
2      12097.0  15646.0  23292.0  28310.0  27828.0  27524.0      NaN  20739.0
3      23417.0  24549.0  32072.0  27624.0  21956.0  30383.0      NaN  29101.0
4      19509.0  22644.0  27067.0  29871.0  20713.0  25356.0      NaN  21516.0
5      19315.0  24592.0  25879.0  25662.0  18521.0  23288.0      NaN  23989.0
6      15634.0  19335.0  16341.0  15259.0   7487.0  13491.0      NaN  18342.0
7       8196.0   9458.0   6926.0  16985.0  19979.0  14672.0  15076.0  15262.0
8      22817.0  27906.0  25408.0  26611.0  26143.0  20759.0  27776.0  28975.0
9      22706.0  26556.0  24240.0  26535.0  26715.0  16933.0  24700.0  22507.0
10     19176.0  22360.0  25167.0  23326.0  23677.0  19404.0  19105.0  20352.0
11     18097.0  21305.0  23307.0  21215.0  18802.0  18978.0  13823.0  17308.0
12      9775.0  13326.0  12503.0   9693.0   7017.0   7548.0   6925.0   6148.0


ano     2018     2019     2020
mes
1     5347.0   4825.0   3722.0
2    17581.0  22106.0  11083.0
3    24924.0  20832.0  11821.0
4    22829.0  19318.0      NaN
5    20401.0  17590.0      8.0
6    16261.0  11446.0      2.0
7    10034.0  14224.0      NaN
8    25934.0  20771.0      NaN
9    18835.0  17420.0      NaN
10   18615.0  15583.0      NaN
11   15791.0  12283.0      NaN
12    6062.0   3630.0      NaN

In [35]:
dados_2016_1.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,2351371,2011010806,2017/01/13 07:22:40.736000000,2017/01/02 08:01:14.113000000,2017/01/30 07:05:05.000000000,2.014036e+09,RENATA GOMES LOPES,ALUNO DE GRADUAÇÃO
1,2351372,L078593,2017/01/31 07:31:36.960000000,2017/01/02 08:29:46.657000000,2017/02/21 13:16:48.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
2,2351373,2010040100,2017/01/31 07:31:36.902000000,2017/01/02 08:29:46.722000000,2017/02/21 13:16:33.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
3,2351374,2013105705,2017/01/31 07:31:36.843000000,2017/01/02 08:29:46.794000000,2017/02/21 13:15:46.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
4,2351375,L057436,2017/01/31 07:30:36.293000000,2017/01/02 08:38:40.009000000,2017/02/21 13:16:29.000000000,2.016101e+10,ISAILMA DA SILVA ARAÚJO,ALUNO DE PÓS-GRADUAÇÃO

In [36]:
dados_2017_1.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,2351371,2011010806,2017/01/13 07:22:40.736000000,2017/01/02 08:01:14.113000000,2017/01/30 07:05:05.000000000,2.014036e+09,RENATA GOMES LOPES,ALUNO DE GRADUAÇÃO
1,2351372,L078593,2017/01/31 07:31:36.960000000,2017/01/02 08:29:46.657000000,2017/02/21 13:16:48.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
2,2351373,2010040100,2017/01/31 07:31:36.902000000,2017/01/02 08:29:46.722000000,2017/02/21 13:16:33.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
3,2351374,2013105705,2017/01/31 07:31:36.843000000,2017/01/02 08:29:46.794000000,2017/02/21 13:15:46.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
4,2351375,L057436,2017/01/31 07:30:36.293000000,2017/01/02 08:38:40.009000000,2017/02/21 13:16:29.000000000,2.016101e+10,ISAILMA DA SILVA ARAÚJO,ALUNO DE PÓS-GRADUAÇÃO

## Qual é a quantidade de empréstimos por hora ao longo do dia ?

In [37]:
emprestimos_data.data

0         2010-12-06 00:00:00.000
1         2010-12-15 00:00:00.000
2         2010-11-24 00:00:00.000
3         2010-08-09 16:03:57.373
4         2015-06-10 18:51:56.994
                    ...
2139184   2013-03-01 20:26:43.853
2139185   2013-03-01 20:26:43.806
2139186   2013-03-01 20:24:56.349
2139187   2013-03-01 20:23:26.277
2139188   2020-06-09 11:54:02.852
Name: data, Length: 2139189, dtype: datetime64[ns]

In [38]:
emprestimos_por_hora = emprestimos_data.groupby(by=emprestimos_data.data.dt.hour).sum()
emprestimos_por_hora.index.names = ['horas']
emprestimos_por_hora['percentual'] = round((emprestimos_por_hora.quantidade / emprestimos_por_hora.quantidade.sum()) * 100, 3)
emprestimos_por_hora

       quantidade  percentual
horas
0              61       0.003
6              18       0.001
7           20400       0.952
8          107199       5.003
9          135740       6.335
10         189366       8.837
11         179488       8.376
12         147561       6.886
13         128208       5.983
14         154196       7.196
15         169727       7.921
16         214578      10.014
17         186947       8.724
18         186294       8.694
19         112562       5.253
20         145740       6.801
21          64227       2.997
22            440       0.021
23             54       0.003