<a href="https://colab.research.google.com/github/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia-6_Novos_dados_novas_analises/Dia_6_Novos_dados_novas_analises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dia 1 - Importação de dados

In [1]:
import pandas as pd

In [2]:
dados_2010_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/36a2c54d-0ed6-46bd-a3e9-161c39c0eac6/download/emprestimos-20101.csv',sep=';')
dados_2010_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/b954b071-5d8f-43d0-b956-e47c9922cc1a/download/emprestimos-20102.csv',sep=';')
dados_2011_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/bae6ed0a-9430-4d5c-9b90-72ffe6e023df/download/emprestimos-20111.csv',sep=';')
dados_2011_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/629c232f-7249-4dbd-8928-0c53af7e9b2a/download/emprestimos-20112.csv',sep=';')
dados_2012_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f9540095-6894-4ffa-b10d-b0ffbb17aa5f/download/emprestimos-20121.csv',sep=';')
dados_2012_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/7bec7701-0778-43f8-a327-540c6ec94fb6/download/emprestimos-20122.csv',sep=';')
dados_2013_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c54c4556-1ca2-4918-963d-f066082e4ee0/download/emprestimos-20131.csv',sep=';')
dados_2013_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/043d7156-67e9-4492-9ec7-8b7353b47bfa/download/emprestimos-20132.csv',sep=';')
dados_2014_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/8e97f632-a6fe-4349-b06b-f650e804a7b9/download/emprestimos-20141.csv',sep=';')
dados_2014_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/832df6b3-ccb0-4370-832b-193a2fe90085/download/emprestimos-20142.csv',sep=';')
dados_2015_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/2d18b7a9-b458-4668-8858-037c55049d40/download/emprestimos-20151.csv',sep=';')
dados_2015_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f07e4501-8632-487f-adf0-116d5b6fb4fe/download/emprestimos-20152.csv',sep=';')
dados_2016_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/17955462-aa54-45c7-9820-e9ab7d128be4/download/emprestimos-20161.csv',sep=';')
dados_2016_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/04ed856a-c6bd-4c67-a08b-ad7f382dcd7e/download/emprestimos-20162.csv',sep=';')
dados_2017_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/54f56d6f-a5cc-41d9-88d6-4f4292fe26bc/download/emprestimos-20171.csv',sep=';')
dados_2017_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/79d668de-5d2a-4c1e-ad62-5f2933d36600/download/emprestimos-20172.csv',sep=';')
dados_2018_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/5cac670e-a90f-4ba3-95f5-65b7d82a538a/download/emprestimos-20181.csv',sep=';')
dados_2018_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/02a9e1d6-900c-450e-8e8f-90fac8125a96/download/emprestimos-20182.csv',sep=';')
dados_2019_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/66f1737b-5732-4029-8b22-2698be3e24ca/download/emprestimos-20191.csv',sep=';')
dados_2019_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/51786bd8-e61c-4e4d-8ff9-51602f4e37e3/download/emprestimos-20192.csv',sep=';')
dados_2020_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c7e609a6-0daf-449b-8564-1876be6e69d5/download/emprestimos-20201.csv',sep=';')

In [3]:
emprestimos_biblioteca = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [4]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  nome_usuario                                tipo_vinculo_usuario
2433391        2013109357     2017/05/22 23:14:56.152000000  2017/05/08 14:46:55.784000000  2017/06/06 18:40:23.000000000  2.016019e+09        KLYFTON STANLEY FERNANDES DA SILVA QUEIROZ  ALUNO DE GRADUAÇÃO        2
2384297        2009036111     2017/03/27 10:36:05.024000000  2017/03/09 12:09:38.663000000  2017/04/20 14:07:26.000000000  2.015400e+10        VANESSA DE PAIVA MELO                       ALUNO DE PÓS-GRADUAÇÃO    2
2384292        2013077602     2017/03/22 08:49:02.962000000  2017/03/09 12:04:50.106000000  2017/04/10 16:50:18.000000000  2.017014e+10        ISABELA AZEVEDO MEDEIROS DO NASCIMENTO      ALUNO DE GRADUAÇÃO        2
2384289        2014000896     2017/03/24 11:02:03.616000000  2017/03/09 12:03:28.507000000  2017/03/30 08:18:20.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
2384288        2006033777     2017/03/24 11:02:03.667000000  2017/03/09 12:03:28.439000000  2017/03/30 08:18:26.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                                                                    ..
1409724        2011052993     2013/02/18 11:42:51.866000000  2013/02/04 09:40:15.322000000  2013/03/06 15:51:22.000000000  2.012964e+09        JALLYNE NUNES VIEIRA                        ALUNO DE GRADUAÇÃO        1
1409725        2010030999     2013/02/19 14:50:23.773000000  2013/02/04 09:40:35.709000000  2013/03/06 18:40:21.000000000  2.009051e+09        DANIEL ANDERSON XAVIER SOUZA                ALUNO DE GRADUAÇÃO        1
1409728        2007023306     2013/02/18 19:34:50.113000000  2013/02/04 09:40:51.264000000  2013/02/25 13:44:14.000000000  2.011038e+09        PRISCILA FERREIRA DA COSTA                  ALUNO DE GRADUAÇÃO        1
1409729        2010049655     2013/02/19 17:54:56.786000000  2013/02/04 09:41:03.685000000  2013/03/06 10:50:44.000000000  2.012964e+09        JESSICA RAISSA CARLOS GOMES                 ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        WILLYENNE GOMES DE LIMA                     ALUNO DE GRADUAÇÃO        1
Length: 916948, dtype: int64

In [ ]:
emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [ ]:
emprestimos_biblioteca.head()

In [ ]:
dados_exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')
dados_exemplares

#Dia 2 - As primeiras manipulações

In [ ]:
import pandas as pd

In [ ]:
emprestimos_biblioteca

In [ ]:
dados_exemplares

In [ ]:
emprestimos_completo = emprestimos_biblioteca.merge(dados_exemplares,'left')
emprestimos_completo

In [ ]:
emprestimos_completo = emprestimos_completo.drop(columns=['nome_usuario','registro_sistema'])
emprestimos_completo

In [ ]:
emprestimos_completo['matricula_ou_siape'] = emprestimos_completo['matricula_ou_siape'].astype('string')

In [ ]:
CDU_lista = []
for CDU in emprestimos_completo['localizacao']:
  if(CDU < 100):
    CDU_lista.append('Generalidades')
  elif(CDU < 200):
    CDU_lista.append('Filosofia e psicologia')
  elif(CDU < 300):
    CDU_lista.append('Religião')
  elif(CDU < 400):
    CDU_lista.append('Ciências sociais')
  elif(CDU < 500):
    CDU_lista.append('Classe vaga')
  elif(CDU < 600):
    CDU_lista.append('Matemática e ciências naturais')
  elif(CDU < 700):
    CDU_lista.append('Ciências aplicadas')
  elif(CDU < 800):
    CDU_lista.append('Belas artes')
  elif(CDU < 900):
    CDU_lista.append('Linguagem')
  else:
    CDU_lista.append('Geografia. Biografia. História.')

emprestimos_completo['CDU_geral'] = CDU_lista

In [ ]:
emprestimos_completo['CDU_geral'] = CDU_lista

In [ ]:
emprestimos_completo.head()

# Dia 3 - Explorando o Datetime dos dados

In [ ]:
import pandas as pd

In [ ]:
emprestimos_completo

In [ ]:
emprestimos_completo.info()

In [ ]:
emprestimos_completo['tipo_vinculo_usuario'].unique()

In [ ]:
emprestimos_completo['colecao'].unique()

In [ ]:
emprestimos_completo['biblioteca'].unique()

In [ ]:
emprestimos_completo['status_material'].unique()

In [ ]:
emprestimos_completo['id_emprestimo'].value_counts()

In [ ]:
emprestimos_completo.loc[emprestimos_completo['id_emprestimo']==2560028]

In [ ]:
emprestimos = len(emprestimos_completo['id_emprestimo'].drop_duplicates())
emprestimos

## Quantos exemplares foram emprestados ao total ?

In [ ]:
exemplares = len(emprestimos_completo)
exemplares

## Quantos foram por cada ano ?

In [ ]:
emprestimos_data = pd.DataFrame(emprestimos_completo['data_emprestimo'].value_counts()).reset_index()
emprestimos_data.columns = ['data','quantidade']
emprestimos_data['data'] = pd.to_datetime(emprestimos_data['data'])
emprestimos_data

In [ ]:
emprestimos_por_ano = emprestimos_data.groupby(by=emprestimos_data.data.dt.year).sum()
emprestimos_por_ano

In [ ]:
emprestimos_por_ano['percentual'] = round((emprestimos_por_ano.quantidade / emprestimos_por_ano.quantidade.sum()) * 100, 2)
emprestimos_por_ano

## Quantos foram por cada mês ?

In [ ]:
emprestimos_por_mes = emprestimos_data.groupby(by=emprestimos_data.data.dt.month).sum()
emprestimos_por_mes

In [ ]:
emprestimos_por_mes['percentual'] = round((emprestimos_por_mes.quantidade / emprestimos_por_mes.quantidade.sum()) * 100, 2)
emprestimos_por_mes

## Quantos foram por cada ano e mês ?

In [ ]:
emprestimos_por_ano_e_mes = emprestimos_data.groupby(by=[emprestimos_data.data.dt.year,emprestimos_data.data.dt.month]).sum()
emprestimos_por_ano_e_mes.index.names = ['ano','mes']
emprestimos_por_ano_e_mes

### INCONSISTÊNCIA

In [ ]:
emprestimos_por_ano_e_mes.reset_index().pivot(index='mes',columns='ano')

In [ ]:
dados_2016_1.head()

In [ ]:
dados_2017_1.head()

## Qual é a quantidade de empréstimos por hora ao longo do dia ?

In [ ]:
emprestimos_data.data

In [ ]:
emprestimos_por_hora = emprestimos_data.groupby(by=emprestimos_data.data.dt.hour).sum()
emprestimos_por_hora.index.names = ['horas']
emprestimos_por_hora['percentual'] = round((emprestimos_por_hora.quantidade / emprestimos_por_hora.quantidade.sum()) * 100, 3)
emprestimos_por_hora

# Dia 4 - Continuando a explorar os dados

In [ ]:
import pandas as pd

In [ ]:
emprestimos_completo

In [ ]:
emprestimos_completo['data_emprestimo'] = pd.to_datetime(emprestimos_completo['data_emprestimo'])

## Funções

In [ ]:
def tabela_frequencia(variavel):
  '''
  Esta função irá gerar uma tabela de frequência com percentuais de acordo 
  com a variável passada. 

  variavel = variável categórica escolhida de dentro do conjunto de dados 
  emprestimos_completo
  '''

  dataframe = pd.DataFrame(emprestimos_completo[variavel].value_counts())                      
  dataframe.columns = ['quantidade']
  dataframe['percentual'] = round((dataframe.quantidade / dataframe.quantidade.sum())*100,4)

  return dataframe

In [ ]:
def tabela_frequencia_por_ano(variavel):
  '''
  Esta função irá gerar uma tabela de frequência com percentuais de acordo 
  com a variável passada. 

  variavel = variável categórica escolhida de dentro do conjunto de dados 
  emprestimos_completo
  '''

  dataframe = emprestimos_completo.loc[:,['data_emprestimo', variavel]]
  dataframe['data_emprestimo'] = dataframe['data_emprestimo'].dt.year
  dataframe = pd.DataFrame(dataframe.value_counts().groupby(by=['data_emprestimo',variavel]).sum(),columns=['quantidade'])
  dataframe.index.names = ['ano',variavel]
  dataframe = dataframe.reset_index().pivot(index=variavel,columns='ano')

  return dataframe

## Quantos foram por tipo de vinculo do usuario ?

In [ ]:
tabela_frequencia('tipo_vinculo_usuario')

## Quantos foram por tipo de vinculo por ano ?

In [ ]:
tabela_frequencia_por_ano('tipo_vinculo_usuario')

## Quantos foram por coleção ?

In [ ]:
tabela_frequencia('colecao')

## Quantos foram por coleção por ano ?

In [ ]:
tabela_frequencia_por_ano('colecao')

## Quantos foram por biblioteca ?

In [ ]:
tabela_frequencia('biblioteca')

## Quantos foram por biblioteca por ano ?

In [ ]:
tabela_frequencia_por_ano('biblioteca')

## Quantos foram pela CDU geral?

In [ ]:
tabela_frequencia('CDU_geral')

## Quantos foram pela CDU geral por ano?

In [ ]:
tabela_frequencia_por_ano('CDU_geral')

# Dia 5 - Analisando empréstimos com boxplot

In [ ]:
import pandas as pd

In [ ]:
emprestimos_completo

In [ ]:
zila_mamede_emprestimo_aluno_graduacao =  emprestimos_completo.query('biblioteca == "Biblioteca Central Zila Mamede" and data_emprestimo >= "2017-01-01" and data_emprestimo < "2020-01-01"  and tipo_vinculo_usuario == "ALUNO DE GRADUAÇÃO"')
zila_mamede_tipo_usuario_emprestimo = zila_mamede_emprestimo_aluno_graduacao.loc[:,['data_emprestimo']]
zila_mamede_tipo_usuario_emprestimo['ano'] = zila_mamede_tipo_usuario_emprestimo.data_emprestimo.dt.year
zila_mamede_tipo_usuario_emprestimo['mes'] = zila_mamede_tipo_usuario_emprestimo.data_emprestimo.dt.month
zila_mamede_tipo_usuario_emprestimo = zila_mamede_tipo_usuario_emprestimo.drop('data_emprestimo',axis=1)
zila_mamede_tipo_usuario_emprestimo = zila_mamede_tipo_usuario_emprestimo.value_counts().reset_index()
zila_mamede_tipo_usuario_emprestimo.columns = ['ano','mes','quantidade']
zila_mamede_tipo_usuario_emprestimo = zila_mamede_tipo_usuario_emprestimo.drop('mes',axis=1)
zila_mamede_tipo_usuario_emprestimo.head()

In [ ]:
zila_mamede_tipo_usuario_emprestimo.pivot(columns='ano',values='quantidade').describe()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def gera_box_plot(dataset,x,y,titulo):
  '''
  Esta função irá gerar um gráfico de boxplot.

  Dataset = conjunto de dados do gráfico
  x = valor do eixo x do gráfico
  y = valor do eixo y do gráfico
  título = título do gráfico
  '''

  sns.set_theme(style="darkgrid", palette='coolwarm',font_scale=1.3)                    #Definir a cor do fundo, paleta de cores e fonte dos eixos
  plt.figure(figsize=(16,10))                                                           #Dimensionar o tamanho

  ax = sns.boxplot(y= y, x= x, data= dataset)                                           #Plotar o gráfico

  plt.ylim(0,max(dataset[y])*1.1)                                                       #Definir o limite do eixo y
  plt.xlabel(None)                                                                      #Excluir título do eixo x
  plt.ylabel(None)                                                                      #Excluir título do eixo x

  plt.title(titulo,loc='left',size=20)                                                  #Gerar o título

In [ ]:
zila_mamede_tipo_usuario_emprestimo

In [ ]:
gera_box_plot(zila_mamede_tipo_usuario_emprestimo,'ano','quantidade','Distribuição da quantidade de empréstimos por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
zila_mamede_tipo_usuario_emprestimo.pivot(columns='ano',values='quantidade').describe()

In [ ]:
zila_mamede_emprestimo_aluno_graduacao.CDU_geral.value_counts()

In [ ]:
def gera_tabela_emprestimos_por_CDU(CDU):
  '''
  Esta função irá gerar a tabela da quantidade de empréstimos por alunos de 
  graduação, nos anos de 2017,2018 e 2019 (definida pela variável 
  zila_mamede_emprestimo_aluno_graduacao) filtrada pela CDU escolhida.

  CDU = Classificação geral da CDU definida na tabela
  '''

  
  zila_mamede_emprestimo_aluno_graduacao_CDU =  zila_mamede_emprestimo_aluno_graduacao[zila_mamede_emprestimo_aluno_graduacao['CDU_geral']==CDU]
  zila_mamede_emprestimo_aluno_graduacao_CDU = zila_mamede_emprestimo_aluno_graduacao_CDU.loc[:,['data_emprestimo']]
  zila_mamede_emprestimo_aluno_graduacao_CDU['ano'] = zila_mamede_emprestimo_aluno_graduacao_CDU.data_emprestimo.dt.year
  zila_mamede_emprestimo_aluno_graduacao_CDU['mes'] = zila_mamede_emprestimo_aluno_graduacao_CDU.data_emprestimo.dt.month
  zila_mamede_emprestimo_aluno_graduacao_CDU = zila_mamede_emprestimo_aluno_graduacao_CDU.drop('data_emprestimo',axis=1)
  zila_mamede_emprestimo_aluno_graduacao_CDU = zila_mamede_emprestimo_aluno_graduacao_CDU.value_counts().reset_index()
  zila_mamede_emprestimo_aluno_graduacao_CDU.columns = ['ano','mes','quantidade']
  zila_mamede_emprestimo_aluno_graduacao_CDU = zila_mamede_emprestimo_aluno_graduacao_CDU.drop('mes',axis=1)
  
  return zila_mamede_emprestimo_aluno_graduacao_CDU

In [ ]:
gera_tabela_emprestimos_por_CDU('Ciências aplicadas')

In [ ]:
emprestimos_ciencias_aplicadas = gera_tabela_emprestimos_por_CDU('Ciências aplicadas')

In [ ]:
emprestimos_ciencias_aplicadas.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_ciencias_aplicadas,'ano','quantidade','Distribuição da quantidade de empréstimos em ciências aplicadas por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_ciencias_sociais = gera_tabela_emprestimos_por_CDU('Ciências sociais')

In [ ]:
emprestimos_ciencias_sociais.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_ciencias_sociais,'ano','quantidade','Distribuição da quantidade de empréstimos em ciências sociais por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_matematica_ciencias_naturais = gera_tabela_emprestimos_por_CDU('Matemática e ciências naturais')

In [ ]:
emprestimos_matematica_ciencias_naturais.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_matematica_ciencias_naturais,'ano','quantidade','Distribuição da quantidade de empréstimos em matemática e ciências naturais por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_generalidades = gera_tabela_emprestimos_por_CDU('Generalidades')

In [ ]:
emprestimos_generalidades.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_generalidades,'ano','quantidade','Distribuição da quantidade de empréstimos em generalidades por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_religião = gera_tabela_emprestimos_por_CDU('Religião')

In [ ]:
emprestimos_religião.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_religião,'ano','quantidade','Distribuição da quantidade de empréstimos em religião por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_filosofia_psicologia = gera_tabela_emprestimos_por_CDU('Filosofia e psicologia')

In [ ]:
emprestimos_filosofia_psicologia.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_filosofia_psicologia,'ano','quantidade','Distribuição da quantidade de empréstimos em filosofia e psicologia por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_geografia_biografia_historia = gera_tabela_emprestimos_por_CDU('Geografia. Biografia. História.')

In [ ]:
emprestimos_geografia_biografia_historia.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_geografia_biografia_historia,'ano','quantidade','Distribuição da quantidade de empréstimos em geografia,biografia e história por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_belas_artes = gera_tabela_emprestimos_por_CDU('Belas artes')

In [ ]:
emprestimos_belas_artes.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_belas_artes,'ano','quantidade','Distribuição da quantidade de empréstimos em belas artes por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

In [ ]:
emprestimos_linguagem = gera_tabela_emprestimos_por_CDU('Linguagem')

In [ ]:
emprestimos_linguagem.pivot(columns='ano',values='quantidade').describe()

In [ ]:
gera_box_plot(emprestimos_linguagem,'ano','quantidade','Distribuição da quantidade de empréstimos em linguagens por mês' + '\n' + 'dos alunos de graduação da biblioteca Zila Mamede')

#Dia 6 - Novos dados, novas análises

## Arquivo excel

In [ ]:
cadastro_usuarios_antes_2010 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Iniciando_em_Ciencia_de_Dados/raw/main/Dataset/matricula_alunos.xlsx',
                                        sheet_name='Até 2010',skiprows=1)
cadastro_usuarios_depois_2010 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Iniciando_em_Ciencia_de_Dados/raw/main/Dataset/matricula_alunos.xlsx',
                                        sheet_name='Após 2010',skiprows=1)

In [ ]:
cadastro_usuarios_antes_2010

,Número da matrícula,Tipo de vinculo,Curso
0,1.900017e+08,ALUNO DE GRADUAÇÃO,MATEMÁTICA
1,1.990145e+08,ALUNO DE GRADUAÇÃO,CIÊNCIAS BIOLÓGICAS
2,1.997357e+08,ALUNO DE GRADUAÇÃO,MATEMÁTICA
3,1.998124e+08,ALUNO DE GRADUAÇÃO,LETRAS
4,1.998237e+08,ALUNO DE GRADUAÇÃO,ECOLOGIA
...,...,...,...
7721,2.009075e+09,ALUNO DE GRADUAÇÃO,BIBLIOTECONOMIA
7722,2.009075e+09,ALUNO DE GRADUAÇÃO,ANÁLISE E DESENVOLVIMENTO DE SISTEMAS
7723,2.009075e+09,ALUNO DE GRADUAÇÃO,ADMINISTRAÇÃO
7724,2.009075e+09,ALUNO DE GRADUAÇÃO,MÚSICA
7725,2.009075e+09,ALUNO DE GRADUAÇÃO,DIREITO

In [ ]:
cadastro_usuarios_antes_2010.columns = ['matricula_ou_siape','tipo_vinculo_usuario','curso']

In [ ]:
cadastro_usuarios_depois_2010

        Matricula      Tipo de vinculo                    Cursos
0     2.010000e+09  ALUNO DE GRADUAÇÃO                   DIREITO
1     2.010000e+09  ALUNO DE GRADUAÇÃO                 AGRONOMIA
2     2.010001e+09  ALUNO DE GRADUAÇÃO        ENGENHARIA QUÍMICA
3     2.010003e+09  ALUNO DE GRADUAÇÃO      ENGENHARIA AMBIENTAL
4     2.010003e+09  ALUNO DE GRADUAÇÃO                 GEOGRAFIA
...            ...                 ...                       ...
2269  2.015012e+10  ALUNO DE GRADUAÇÃO                    LETRAS
2270  2.015075e+09  ALUNO DE GRADUAÇÃO                     DANÇA
2271  2.016000e+10  ALUNO DE GRADUAÇÃO  ENGENHARIA DA COMPUTAÇÃO
2272  2.017009e+10  ALUNO DE GRADUAÇÃO           BIBLIOTECONOMIA
2273  2.018009e+10  ALUNO DE GRADUAÇÃO                     DANÇA

[2274 rows x 3 columns]

In [ ]:
cadastro_usuarios_depois_2010.columns= ['matricula_ou_siape','tipo_vinculo_usuario','curso']

In [ ]:
cadastro_usuarios_excel = pd.concat([cadastro_usuarios_antes_2010,cadastro_usuarios_depois_2010],ignore_index=True)
cadastro_usuarios_excel.matricula_ou_siape = cadastro_usuarios_excel.matricula_ou_siape.astype('string')
cadastro_usuarios_excel

     matricula_ou_siape tipo_vinculo_usuario                     curso
0           190001688.0   ALUNO DE GRADUAÇÃO                MATEMÁTICA
1           199014489.0   ALUNO DE GRADUAÇÃO       CIÊNCIAS BIOLÓGICAS
2           199735674.0   ALUNO DE GRADUAÇÃO                MATEMÁTICA
3           199812431.0   ALUNO DE GRADUAÇÃO                    LETRAS
4           199823670.0   ALUNO DE GRADUAÇÃO                  ECOLOGIA
...                 ...                  ...                       ...
9995      20150116770.0   ALUNO DE GRADUAÇÃO                    LETRAS
9996       2015074523.0   ALUNO DE GRADUAÇÃO                     DANÇA
9997      20160002745.0   ALUNO DE GRADUAÇÃO  ENGENHARIA DA COMPUTAÇÃO
9998      20170086533.0   ALUNO DE GRADUAÇÃO           BIBLIOTECONOMIA
9999      20180090351.0   ALUNO DE GRADUAÇÃO                     DANÇA

[10000 rows x 3 columns]

## Arquivo JSON

In [ ]:
cadastro_usuarios_json = pd.read_json('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Iniciando_em_Ciencia_de_Dados/main/Dataset/cadastro_alunos.json')
cadastro_usuarios_json

     tipo_curso                                          registros
0     GRADUACAO  [{"matricula_ou_siape": "2009029003.0", "tipo_...
1  POSGRADUACAO  [{"matricula_ou_siape": "2008112114.0", "tipo_...

In [ ]:
cadastro_usuarios_graduacao = pd.read_json(cadastro_usuarios_json.registros[0])
cadastro_usuarios_pos_graduacao = pd.read_json(cadastro_usuarios_json.registros[1])

In [ ]:
cadastro_usuarios_graduacao

       matricula_ou_siape tipo_vinculo_usuario                   curso
0              2009029003   ALUNO DE GRADUAÇÃO               FILOSOFIA
1               200617346   ALUNO DE GRADUAÇÃO                 DIREITO
2               200746502   ALUNO DE GRADUAÇÃO  ENGENHARIA DE PETRÓLEO
3               200504968   ALUNO DE GRADUAÇÃO           ADMINISTRAÇÃO
4               200615572   ALUNO DE GRADUAÇÃO   CIÊNCIA DA COMPUTAÇÃO
...                   ...                  ...                     ...
62797         20200012706   ALUNO DE GRADUAÇÃO         BIBLIOTECONOMIA
62798         20200039601   ALUNO DE GRADUAÇÃO    ENGENHARIA FLORESTAL
62799         20200132517   ALUNO DE GRADUAÇÃO               AGRONOMIA
62800         20200009344   ALUNO DE GRADUAÇÃO         BIBLIOTECONOMIA
62801         20200090284   ALUNO DE GRADUAÇÃO                 DIREITO

[62802 rows x 3 columns]

In [ ]:
cadastro_usuarios_pos_graduacao

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2008112114,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS ODONTOLÓGICAS
1,2008106583,ALUNO DE PÓS-GRADUAÇÃO,ENGENHARIA DE SOFTWARE
2,2011101417,ALUNO DE PÓS-GRADUAÇÃO,ARQUITETURA E URBANISMO
3,2011113122,ALUNO DE PÓS-GRADUAÇÃO,FILOSOFIA
4,2010110903,ALUNO DE PÓS-GRADUAÇÃO,ARTES CÊNICAS
...,...,...,...
19435,20201013501,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
19436,20201014062,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
19437,20201017690,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
19438,20201014465,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
19439,20201014993,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [ ]:
cadastro_usuarios_json = pd.concat([cadastro_usuarios_graduacao,cadastro_usuarios_pos_graduacao],ignore_index=True)
cadastro_usuarios_json

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2009029003,ALUNO DE GRADUAÇÃO,FILOSOFIA
1,200617346,ALUNO DE GRADUAÇÃO,DIREITO
2,200746502,ALUNO DE GRADUAÇÃO,ENGENHARIA DE PETRÓLEO
3,200504968,ALUNO DE GRADUAÇÃO,ADMINISTRAÇÃO
4,200615572,ALUNO DE GRADUAÇÃO,CIÊNCIA DA COMPUTAÇÃO
...,...,...,...
82237,20201013501,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
82238,20201014062,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
82239,20201017690,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
82240,20201014465,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
82241,20201014993,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [ ]:
cadastro_usuarios_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82242 entries, 0 to 82241
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula_ou_siape    82242 non-null  int64
 1   tipo_vinculo_usuario  82242 non-null  object
 2   curso                 82242 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.9+ MB

In [ ]:
cadastro_usuarios_json.matricula_ou_siape = cadastro_usuarios_json.matricula_ou_siape.astype('float')
cadastro_usuarios_json.matricula_ou_siape = cadastro_usuarios_json.matricula_ou_siape.astype('string')

In [ ]:
cadastro_usuarios_json

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,2009029003.0,ALUNO DE GRADUAÇÃO,FILOSOFIA
1,200617346.0,ALUNO DE GRADUAÇÃO,DIREITO
2,200746502.0,ALUNO DE GRADUAÇÃO,ENGENHARIA DE PETRÓLEO
3,200504968.0,ALUNO DE GRADUAÇÃO,ADMINISTRAÇÃO
4,200615572.0,ALUNO DE GRADUAÇÃO,CIÊNCIA DA COMPUTAÇÃO
...,...,...,...
82237,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
82238,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
82239,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
82240,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
82241,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [ ]:
cadastro_usuarios_cursos = pd.concat([cadastro_usuarios_excel,cadastro_usuarios_json],ignore_index=True)
cadastro_usuarios_cursos

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,190001688.0,ALUNO DE GRADUAÇÃO,MATEMÁTICA
1,199014489.0,ALUNO DE GRADUAÇÃO,CIÊNCIAS BIOLÓGICAS
2,199735674.0,ALUNO DE GRADUAÇÃO,MATEMÁTICA
3,199812431.0,ALUNO DE GRADUAÇÃO,LETRAS
4,199823670.0,ALUNO DE GRADUAÇÃO,ECOLOGIA
...,...,...,...
92237,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
92238,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
92239,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
92240,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
92241,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

## Quantidade de empréstimos por curso

In [ ]:
matricula_data_de_emprestimo = emprestimos_completo.query("tipo_vinculo_usuario == ['ALUNO DE GRADUAÇÃO','ALUNO DE PÓS-GRADUAÇÃO']")
matricula_data_de_emprestimo = matricula_data_de_emprestimo.loc[:,['matricula_ou_siape','data_emprestimo']]
matricula_data_de_emprestimo = matricula_data_de_emprestimo.query('data_emprestimo > 2017')
matricula_data_de_emprestimo = matricula_data_de_emprestimo.reset_index(drop=True)

In [ ]:
matricula_data_de_emprestimo

       matricula_ou_siape         data_emprestimo
0            2014035816.0 2017-01-02 08:01:14.113
1           20161011168.0 2017-01-02 08:29:46.657
2           20161011168.0 2017-01-02 08:29:46.722
3           20161011168.0 2017-01-02 08:29:46.794
4           20161010760.0 2017-01-02 08:38:40.009
...                   ...                     ...
577947      20191017055.0 2020-03-19 14:41:57.754
577948      20191017055.0 2020-03-19 14:42:56.670
577949      20191017055.0 2020-03-19 14:43:40.666
577950      20201014993.0 2020-06-09 11:54:02.669
577951      20201014993.0 2020-06-09 11:54:02.852

[577952 rows x 2 columns]

In [ ]:
matricula_data_de_emprestimo

       matricula_ou_siape         data_emprestimo
0            2014035816.0 2017-01-02 08:01:14.113
1           20161011168.0 2017-01-02 08:29:46.657
2           20161011168.0 2017-01-02 08:29:46.722
3           20161011168.0 2017-01-02 08:29:46.794
4           20161010760.0 2017-01-02 08:38:40.009
...                   ...                     ...
577947      20191017055.0 2020-03-19 14:41:57.754
577948      20191017055.0 2020-03-19 14:42:56.670
577949      20191017055.0 2020-03-19 14:43:40.666
577950      20201014993.0 2020-06-09 11:54:02.669
577951      20201014993.0 2020-06-09 11:54:02.852

[577952 rows x 2 columns]

In [ ]:
matricula_data_de_emprestimo.isna().sum()

matricula_ou_siape    11
data_emprestimo        0
dtype: int64

In [ ]:
matricula_data_de_emprestimo = matricula_data_de_emprestimo.dropna()

In [ ]:
cadastro_usuarios_cursos

,matricula_ou_siape,tipo_vinculo_usuario,curso
0,190001688.0,ALUNO DE GRADUAÇÃO,MATEMÁTICA
1,199014489.0,ALUNO DE GRADUAÇÃO,CIÊNCIAS BIOLÓGICAS
2,199735674.0,ALUNO DE GRADUAÇÃO,MATEMÁTICA
3,199812431.0,ALUNO DE GRADUAÇÃO,LETRAS
4,199823670.0,ALUNO DE GRADUAÇÃO,ECOLOGIA
...,...,...,...
92237,20201013501.0,ALUNO DE PÓS-GRADUAÇÃO,GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
92238,20201014062.0,ALUNO DE PÓS-GRADUAÇÃO,"CIÊNCIA, TECNOLOGIA E INOVAÇÃO"
92239,20201017690.0,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
92240,20201014465.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
92241,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [ ]:
emprestimos_cursos = matricula_data_de_emprestimo.merge(cadastro_usuarios_cursos)
emprestimos_cursos

,matricula_ou_siape,data_emprestimo,tipo_vinculo_usuario,curso
0,2014035816.0,2017-01-02 08:01:14.113,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL
1,2014035816.0,2017-02-08 13:32:13.820,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL
2,2014035816.0,2017-02-17 11:53:03.346,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL
3,2014035816.0,2017-02-24 16:44:51.766,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL
4,2014035816.0,2017-03-17 14:49:18.969,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL
...,...,...,...,...
577906,20201017690.0,2020-03-17 18:00:16.034,ALUNO DE PÓS-GRADUAÇÃO,CIÊNCIAS DA SAÚDE
577907,20201014465.0,2020-03-17 18:06:06.974,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
577908,20200090284.0,2020-03-17 20:23:54.966,ALUNO DE GRADUAÇÃO,DIREITO
577909,20201014993.0,2020-06-09 11:54:02.669,ALUNO DE PÓS-GRADUAÇÃO,DESIGN
577910,20201014993.0,2020-06-09 11:54:02.852,ALUNO DE PÓS-GRADUAÇÃO,DESIGN

In [ ]:
emprestimos_cursos.data_emprestimo = emprestimos_cursos.data_emprestimo.dt.year

In [ ]:
emprestimos_tipo_usuario_e_curso = emprestimos_cursos.iloc[:,[1,2,3]].value_counts().reset_index()
emprestimos_tipo_usuario_e_curso.columns = ['ANO','TIPO_VINCULO_USUARIO','CURSO','QUANTIDADE_EMPRESTIMOS']
emprestimos_tipo_usuario_e_curso

,ANO,TIPO_VINCULO_USUARIO,CURSO,QUANTIDADE_EMPRESTIMOS
0,2017,ALUNO DE GRADUAÇÃO,COMUNICAÇÃO SOCIAL,8773
1,2017,ALUNO DE GRADUAÇÃO,CIÊNCIAS ATUARIAIS,8560
2,2017,ALUNO DE GRADUAÇÃO,ARQUITETURA E URBANISMO,8451
3,2017,ALUNO DE GRADUAÇÃO,ENGENHARIA CIVIL,8427
4,2017,ALUNO DE GRADUAÇÃO,CIÊNCIAS E TECNOLOGIA,8393
...,...,...,...,...
170,2019,ALUNO DE GRADUAÇÃO,ENGENHARIA AMBIENTAL,4
171,2019,ALUNO DE GRADUAÇÃO,FISIOTERAPIA,3
172,2019,ALUNO DE GRADUAÇÃO,TURISMO,3
173,2018,ALUNO DE GRADUAÇÃO,LETRAS,2
174,2020,ALUNO DE GRADUAÇÃO,NUTRIÇÃO,1

In [ ]:
emprestimos_tipo_usuario_curso_pivot = emprestimos_tipo_usuario_e_curso.pivot_table(
        index = 'CURSO',
        columns = ['ANO','TIPO_VINCULO_USUARIO'],
        values = 'QUANTIDADE_EMPRESTIMOS',
        fill_value = '-',
        aggfunc= sum,
        margins = True,
        margins_name = 'TOTAL',
)

In [ ]:
emprestimos_tipo_usuario_curso_pivot

ANO                                                  2017  \
TIPO_VINCULO_USUARIO                   ALUNO DE GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                      7792.0
AGRONOMIA                                          7842.0
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                19.0
ARQUITETURA E URBANISMO                            8451.0
ARTES CÊNICAS                                           -
BIBLIOTECONOMIA                                    7680.0
BIOINFORMÁTICA                                          -
BIOMEDICINA                                        7588.0
BIOQUÍMICA                                              -
CIÊNCIA DA COMPUTAÇÃO                              7372.0
CIÊNCIA E ENGENHARIA DE MATERIAIS                       -
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                          -
CIÊNCIAS ATUARIAIS                                 8560.0
CIÊNCIAS BIOLÓGICAS                                7708.0
CIÊNCIAS DA SAÚDE                                       -
CIÊNCIAS E TECNOLOGIA                              8393.0
CIÊNCIAS ODONTOLÓGICAS                                  -
CIÊNCIAS SOCIAIS                                   7279.0
COMUNICAÇÃO SOCIAL                                 8773.0
DANÇA                                              7590.0
DESIGN                                                  -
DIREITO                                            8189.0
ECOLOGIA                                             62.0
EDUCAÇÃO FÍSICA                                    8141.0
ENFERMAGEM                                         7803.0
ENGENHARIA AMBIENTAL                                 15.0
ENGENHARIA CIVIL                                   8427.0
ENGENHARIA DA COMPUTAÇÃO                             45.0
ENGENHARIA DE PETRÓLEO                             7961.0
ENGENHARIA DE SOFTWARE                                  -
ENGENHARIA FLORESTAL                               7843.0
ENGENHARIA QUÍMICA                                   57.0
FILOSOFIA                                          7776.0
FISIOTERAPIA                                         71.0
GEOGRAFIA                                            15.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                  -
HISTÓRIA                                             79.0
LETRAS                                               41.0
MATEMÁTICA                                         8317.0
MÚSICA                                               24.0
NUTRIÇÃO                                            102.0
PEDAGOGIA                                          7888.0
SISTEMAS DE INFORMAÇÃO                             7166.0
TURISMO                                              13.0
TOTAL                                              175082

ANO                                                            \
TIPO_VINCULO_USUARIO                   ALUNO DE PÓS-GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                          2651.0
AGRONOMIA                                                   -
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                       -
ARQUITETURA E URBANISMO                                2295.0
ARTES CÊNICAS                                          2217.0
BIBLIOTECONOMIA                                             -
BIOINFORMÁTICA                                         2308.0
BIOMEDICINA                                                 -
BIOQUÍMICA                                             2389.0
CIÊNCIA DA COMPUTAÇÃO                                       -
CIÊNCIA E ENGENHARIA DE MATERIAIS                      2404.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                         2520.0
CIÊNCIAS ATUARIAIS                                          -
CIÊNCIAS BIOLÓGICAS                                         -
CIÊNCIAS DA SAÚDE                                      2524.0
CIÊNCIAS E TECNOLOGIA                                       -
CIÊNCIAS ODONTOLÓGICAS                                 2488.0
CIÊNCIAS SOCIAIS                                            -
COMUNICAÇÃO SOCIAL                                          -
DANÇA                                                       -
DESIGN                                                 2372.0
DIREITO                                                     -
ECOLOGIA                                                    -
EDUCAÇÃO FÍSICA                                             -
ENFERMAGEM                                                  -
ENGENHARIA AMBIENTAL                                        -
ENGENHARIA CIVIL                                       2519.0
ENGENHARIA DA COMPUTAÇÃO                                    -
ENGENHARIA DE PETRÓLEO                                      -
ENGENHARIA DE SOFTWARE                                 2539.0
ENGENHARIA FLORESTAL                                        -
ENGENHARIA QUÍMICA                                          -
FILOSOFIA                                              2266.0
FISIOTERAPIA                                                -
GEOGRAFIA                                                   -
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                 2364.0
HISTÓRIA                                                    -
LETRAS                                                      -
MATEMÁTICA                                                  -
MÚSICA                                                      -
NUTRIÇÃO                                                    -
PEDAGOGIA                                                   -
SISTEMAS DE INFORMAÇÃO                                      -
TURISMO                                                     -
TOTAL                                                   33856

ANO                                                  2018  \
TIPO_VINCULO_USUARIO                   ALUNO DE GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                      6534.0
AGRONOMIA                                          7123.0
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                11.0
ARQUITETURA E URBANISMO                            7188.0
ARTES CÊNICAS                                           -
BIBLIOTECONOMIA                                    6662.0
BIOINFORMÁTICA                                          -
BIOMEDICINA                                        6549.0
BIOQUÍMICA                                              -
CIÊNCIA DA COMPUTAÇÃO                              6620.0
CIÊNCIA E ENGENHARIA DE MATERIAIS                       -
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                          -
CIÊNCIAS ATUARIAIS                                 7588.0
CIÊNCIAS BIOLÓGICAS                                6843.0
CIÊNCIAS DA SAÚDE                                       -
CIÊNCIAS E TECNOLOGIA                              7251.0
CIÊNCIAS ODONTOLÓGICAS                                  -
CIÊNCIAS SOCIAIS                                   6472.0
COMUNICAÇÃO SOCIAL                                 7339.0
DANÇA                                              6975.0
DESIGN                                                  -
DIREITO                                            7254.0
ECOLOGIA                                             11.0
EDUCAÇÃO FÍSICA                                    7167.0
ENFERMAGEM                                         7139.0
ENGENHARIA AMBIENTAL                                  6.0
ENGENHARIA CIVIL                                   7297.0
ENGENHARIA DA COMPUTAÇÃO                             15.0
ENGENHARIA DE PETRÓLEO                             6985.0
ENGENHARIA DE SOFTWARE                                  -
ENGENHARIA FLORESTAL                               7189.0
ENGENHARIA QUÍMICA                                   24.0
FILOSOFIA                                          6623.0
FISIOTERAPIA                                         24.0
GEOGRAFIA                                             6.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                  -
HISTÓRIA                                             22.0
LETRAS                                                2.0
MATEMÁTICA                                         6809.0
MÚSICA                                               19.0
NUTRIÇÃO                                             47.0
PEDAGOGIA                                          6809.0
SISTEMAS DE INFORMAÇÃO                             6416.0
TURISMO                                              15.0
TOTAL                                              153034

ANO                                                            \
TIPO_VINCULO_USUARIO                   ALUNO DE PÓS-GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                          2388.0
AGRONOMIA                                                   -
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                       -
ARQUITETURA E URBANISMO                                1995.0
ARTES CÊNICAS                                          2162.0
BIBLIOTECONOMIA                                             -
BIOINFORMÁTICA                                         1990.0
BIOMEDICINA                                                 -
BIOQUÍMICA                                             2021.0
CIÊNCIA DA COMPUTAÇÃO                                       -
CIÊNCIA E ENGENHARIA DE MATERIAIS                      2227.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                         2451.0
CIÊNCIAS ATUARIAIS                                          -
CIÊNCIAS BIOLÓGICAS                                         -
CIÊNCIAS DA SAÚDE                                      2060.0
CIÊNCIAS E TECNOLOGIA                                       -
CIÊNCIAS ODONTOLÓGICAS                                 2612.0
CIÊNCIAS SOCIAIS                                            -
COMUNICAÇÃO SOCIAL                                          -
DANÇA                                                       -
DESIGN                                                 1906.0
DIREITO                                                     -
ECOLOGIA                                                    -
EDUCAÇÃO FÍSICA                                             -
ENFERMAGEM                                                  -
ENGENHARIA AMBIENTAL                                        -
ENGENHARIA CIVIL                                       2143.0
ENGENHARIA DA COMPUTAÇÃO                                    -
ENGENHARIA DE PETRÓLEO                                      -
ENGENHARIA DE SOFTWARE                                 2280.0
ENGENHARIA FLORESTAL                                        -
ENGENHARIA QUÍMICA                                          -
FILOSOFIA                                              2141.0
FISIOTERAPIA                                                -
GEOGRAFIA                                                   -
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                 1975.0
HISTÓRIA                                                    -
LETRAS                                                      -
MATEMÁTICA                                                  -
MÚSICA                                                      -
NUTRIÇÃO                                                    -
PEDAGOGIA                                                   -
SISTEMAS DE INFORMAÇÃO                                      -
TURISMO                                                     -
TOTAL                                                   30351

ANO                                                  2019  \
TIPO_VINCULO_USUARIO                   ALUNO DE GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                      5868.0
AGRONOMIA                                          5880.0
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                   -
ARQUITETURA E URBANISMO                            6247.0
ARTES CÊNICAS                                           -
BIBLIOTECONOMIA                                    6266.0
BIOINFORMÁTICA                                          -
BIOMEDICINA                                        5665.0
BIOQUÍMICA                                              -
CIÊNCIA DA COMPUTAÇÃO                              5745.0
CIÊNCIA E ENGENHARIA DE MATERIAIS                       -
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                          -
CIÊNCIAS ATUARIAIS                                 6677.0
CIÊNCIAS BIOLÓGICAS                                5622.0
CIÊNCIAS DA SAÚDE                                       -
CIÊNCIAS E TECNOLOGIA                              6459.0
CIÊNCIAS ODONTOLÓGICAS                                  -
CIÊNCIAS SOCIAIS                                   6090.0
COMUNICAÇÃO SOCIAL                                 6210.0
DANÇA                                              6199.0
DESIGN                                                  -
DIREITO                                            6120.0
ECOLOGIA                                                -
EDUCAÇÃO FÍSICA                                    6107.0
ENFERMAGEM                                         6387.0
ENGENHARIA AMBIENTAL                                  4.0
ENGENHARIA CIVIL                                   6762.0
ENGENHARIA DA COMPUTAÇÃO                                -
ENGENHARIA DE PETRÓLEO                             6179.0
ENGENHARIA DE SOFTWARE                                  -
ENGENHARIA FLORESTAL                               6497.0
ENGENHARIA QUÍMICA                                    7.0
FILOSOFIA                                          5872.0
FISIOTERAPIA                                          3.0
GEOGRAFIA                                               -
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                  -
HISTÓRIA                                             17.0
LETRAS                                                  -
MATEMÁTICA                                         5728.0
MÚSICA                                                  -
NUTRIÇÃO                                             29.0
PEDAGOGIA                                          6186.0
SISTEMAS DE INFORMAÇÃO                             5959.0
TURISMO                                               3.0
TOTAL                                              134788

ANO                                                            \
TIPO_VINCULO_USUARIO                   ALUNO DE PÓS-GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                          1746.0
AGRONOMIA                                                   -
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                       -
ARQUITETURA E URBANISMO                                1867.0
ARTES CÊNICAS                                          1895.0
BIBLIOTECONOMIA                                             -
BIOINFORMÁTICA                                         1889.0
BIOMEDICINA                                                 -
BIOQUÍMICA                                             2126.0
CIÊNCIA DA COMPUTAÇÃO                                       -
CIÊNCIA E ENGENHARIA DE MATERIAIS                      2100.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                         2101.0
CIÊNCIAS ATUARIAIS                                          -
CIÊNCIAS BIOLÓGICAS                                         -
CIÊNCIAS DA SAÚDE                                      1874.0
CIÊNCIAS E TECNOLOGIA                                       -
CIÊNCIAS ODONTOLÓGICAS                                 2201.0
CIÊNCIAS SOCIAIS                                            -
COMUNICAÇÃO SOCIAL                                          -
DANÇA                                                       -
DESIGN                                                 1917.0
DIREITO                                                     -
ECOLOGIA                                                    -
EDUCAÇÃO FÍSICA                                             -
ENFERMAGEM                                                  -
ENGENHARIA AMBIENTAL                                        -
ENGENHARIA CIVIL                                       2057.0
ENGENHARIA DA COMPUTAÇÃO                                    -
ENGENHARIA DE PETRÓLEO                                      -
ENGENHARIA DE SOFTWARE                                 1955.0
ENGENHARIA FLORESTAL                                        -
ENGENHARIA QUÍMICA                                          -
FILOSOFIA                                              1856.0
FISIOTERAPIA                                                -
GEOGRAFIA                                                   -
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                 1828.0
HISTÓRIA                                                    -
LETRAS                                                      -
MATEMÁTICA                                                  -
MÚSICA                                                      -
NUTRIÇÃO                                                    -
PEDAGOGIA                                                   -
SISTEMAS DE INFORMAÇÃO                                      -
TURISMO                                                     -
TOTAL                                                   27412

ANO                                                  2020  \
TIPO_VINCULO_USUARIO                   ALUNO DE GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                       822.0
AGRONOMIA                                           867.0
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS                   -
ARQUITETURA E URBANISMO                             836.0
ARTES CÊNICAS                                           -
BIBLIOTECONOMIA                                     945.0
BIOINFORMÁTICA                                          -
BIOMEDICINA                                         841.0
BIOQUÍMICA                                              -
CIÊNCIA DA COMPUTAÇÃO                               831.0
CIÊNCIA E ENGENHARIA DE MATERIAIS                       -
CIÊNCIA, TECNOLOGIA E INOVAÇÃO                          -
CIÊNCIAS ATUARIAIS                                  960.0
CIÊNCIAS BIOLÓGICAS                                 865.0
CIÊNCIAS DA SAÚDE                                       -
CIÊNCIAS E TECNOLOGIA                               960.0
CIÊNCIAS ODONTOLÓGICAS                                  -
CIÊNCIAS SOCIAIS                                    860.0
COMUNICAÇÃO SOCIAL                                  836.0
DANÇA                                               911.0
DESIGN                                                  -
DIREITO                                             937.0
ECOLOGIA                                                -
EDUCAÇÃO FÍSICA                                     887.0
ENFERMAGEM                                          995.0
ENGENHARIA AMBIENTAL                                    -
ENGENHARIA CIVIL                                    885.0
ENGENHARIA DA COMPUTAÇÃO                                -
ENGENHARIA DE PETRÓLEO                              841.0
ENGENHARIA DE SOFTWARE                                  -
ENGENHARIA FLORESTAL                                925.0
ENGENHARIA QUÍMICA                                      -
FILOSOFIA                                           865.0
FISIOTERAPIA                                            -
GEOGRAFIA                                               -
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO                  -
HISTÓRIA                                                -
LETRAS                                                  -
MATEMÁTICA                                          805.0
MÚSICA                                                  -
NUTRIÇÃO                                              1.0
PEDAGOGIA                                           916.0
SISTEMAS DE INFORMAÇÃO                              839.0
TURISMO                                                 -
TOTAL                                               19430

ANO                                                             TOTAL
TIPO_VINCULO_USUARIO                   ALUNO DE PÓS-GRADUAÇÃO
CURSO
ADMINISTRAÇÃO                                           274.0   28075
AGRONOMIA                                                   -   21712