<a href="https://colab.research.google.com/github/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_4-Continuando_a_explorar_os_dados/Dia_4_Continuando_a_explorar_os_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dia 1 - Importação de dados

In [1]:
import pandas as pd

In [2]:
dados_2010_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/36a2c54d-0ed6-46bd-a3e9-161c39c0eac6/download/emprestimos-20101.csv',sep=';')
dados_2010_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/b954b071-5d8f-43d0-b956-e47c9922cc1a/download/emprestimos-20102.csv',sep=';')
dados_2011_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/bae6ed0a-9430-4d5c-9b90-72ffe6e023df/download/emprestimos-20111.csv',sep=';')
dados_2011_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/629c232f-7249-4dbd-8928-0c53af7e9b2a/download/emprestimos-20112.csv',sep=';')
dados_2012_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f9540095-6894-4ffa-b10d-b0ffbb17aa5f/download/emprestimos-20121.csv',sep=';')
dados_2012_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/7bec7701-0778-43f8-a327-540c6ec94fb6/download/emprestimos-20122.csv',sep=';')
dados_2013_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c54c4556-1ca2-4918-963d-f066082e4ee0/download/emprestimos-20131.csv',sep=';')
dados_2013_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/043d7156-67e9-4492-9ec7-8b7353b47bfa/download/emprestimos-20132.csv',sep=';')
dados_2014_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/8e97f632-a6fe-4349-b06b-f650e804a7b9/download/emprestimos-20141.csv',sep=';')
dados_2014_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/832df6b3-ccb0-4370-832b-193a2fe90085/download/emprestimos-20142.csv',sep=';')
dados_2015_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/2d18b7a9-b458-4668-8858-037c55049d40/download/emprestimos-20151.csv',sep=';')
dados_2015_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f07e4501-8632-487f-adf0-116d5b6fb4fe/download/emprestimos-20152.csv',sep=';')
dados_2016_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/17955462-aa54-45c7-9820-e9ab7d128be4/download/emprestimos-20161.csv',sep=';')
dados_2016_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/04ed856a-c6bd-4c67-a08b-ad7f382dcd7e/download/emprestimos-20162.csv',sep=';')
dados_2017_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/54f56d6f-a5cc-41d9-88d6-4f4292fe26bc/download/emprestimos-20171.csv',sep=';')
dados_2017_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/79d668de-5d2a-4c1e-ad62-5f2933d36600/download/emprestimos-20172.csv',sep=';')
dados_2018_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/5cac670e-a90f-4ba3-95f5-65b7d82a538a/download/emprestimos-20181.csv',sep=';')
dados_2018_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/02a9e1d6-900c-450e-8e8f-90fac8125a96/download/emprestimos-20182.csv',sep=';')
dados_2019_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/66f1737b-5732-4029-8b22-2698be3e24ca/download/emprestimos-20191.csv',sep=';')
dados_2019_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/51786bd8-e61c-4e4d-8ff9-51602f4e37e3/download/emprestimos-20192.csv',sep=';')
dados_2020_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c7e609a6-0daf-449b-8564-1876be6e69d5/download/emprestimos-20201.csv',sep=';')

In [3]:
emprestimos_biblioteca = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [4]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  nome_usuario                                tipo_vinculo_usuario
2433391        2013109357     2017/05/22 23:14:56.152000000  2017/05/08 14:46:55.784000000  2017/06/06 18:40:23.000000000  2.016019e+09        KLYFTON STANLEY FERNANDES DA SILVA QUEIROZ  ALUNO DE GRADUAÇÃO        2
2384297        2009036111     2017/03/27 10:36:05.024000000  2017/03/09 12:09:38.663000000  2017/04/20 14:07:26.000000000  2.015400e+10        VANESSA DE PAIVA MELO                       ALUNO DE PÓS-GRADUAÇÃO    2
2384292        2013077602     2017/03/22 08:49:02.962000000  2017/03/09 12:04:50.106000000  2017/04/10 16:50:18.000000000  2.017014e+10        ISABELA AZEVEDO MEDEIROS DO NASCIMENTO      ALUNO DE GRADUAÇÃO        2
2384289        2014000896     2017/03/24 11:02:03.616000000  2017/03/09 12:03:28.507000000  2017/03/30 08:18:20.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
2384288        2006033777     2017/03/24 11:02:03.667000000  2017/03/09 12:03:28.439000000  2017/03/30 08:18:26.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                                                                    ..
1409724        2011052993     2013/02/18 11:42:51.866000000  2013/02/04 09:40:15.322000000  2013/03/06 15:51:22.000000000  2.012964e+09        JALLYNE NUNES VIEIRA                        ALUNO DE GRADUAÇÃO        1
1409725        2010030999     2013/02/19 14:50:23.773000000  2013/02/04 09:40:35.709000000  2013/03/06 18:40:21.000000000  2.009051e+09        DANIEL ANDERSON XAVIER SOUZA                ALUNO DE GRADUAÇÃO        1
1409728        2007023306     2013/02/18 19:34:50.113000000  2013/02/04 09:40:51.264000000  2013/02/25 13:44:14.000000000  2.011038e+09        PRISCILA FERREIRA DA COSTA                  ALUNO DE GRADUAÇÃO        1
1409729        2010049655     2013/02/19 17:54:56.786000000  2013/02/04 09:41:03.685000000  2013/03/06 10:50:44.000000000  2.012964e+09        JESSICA RAISSA CARLOS GOMES                 ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        WILLYENNE GOMES DE LIMA                     ALUNO DE GRADUAÇÃO        1
Length: 916948, dtype: int64

In [5]:
emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [6]:
emprestimos_biblioteca.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO

In [7]:
dados_exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,691,14
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

#Dia 2 - As primeiras manipulações

In [8]:
import pandas as pd

In [9]:
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [10]:
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,691,14
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [11]:
emprestimos_completo = emprestimos_biblioteca.merge(dados_exemplares,'left')
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,110098.0
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,110171.0
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,134173.0
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,67712.0
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,205153.0

In [12]:
emprestimos_completo = emprestimos_completo.drop(columns=['nome_usuario','registro_sistema'])
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0

In [13]:
emprestimos_completo['matricula_ou_siape'] = emprestimos_completo['matricula_ou_siape'].astype('string')

In [14]:
CDU_lista = []
for CDU in emprestimos_completo['localizacao']:
  if(CDU < 100):
    CDU_lista.append('Generalidades')
  elif(CDU < 200):
    CDU_lista.append('Filosofia e psicologia')
  elif(CDU < 300):
    CDU_lista.append('Religião')
  elif(CDU < 400):
    CDU_lista.append('Ciências sociais')
  elif(CDU < 500):
    CDU_lista.append('Classe vaga')
  elif(CDU < 600):
    CDU_lista.append('Matemática e ciências naturais')
  elif(CDU < 700):
    CDU_lista.append('Ciências aplicadas')
  elif(CDU < 800):
    CDU_lista.append('Belas artes')
  elif(CDU < 900):
    CDU_lista.append('Linguagem')
  else:
    CDU_lista.append('Geografia. Biografia. História.')

emprestimos_completo['CDU_geral'] = CDU_lista

In [15]:
emprestimos_completo['CDU_geral'] = CDU_lista

In [16]:
emprestimos_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas

# Dia 3 - Explorando o Datetime dos dados

In [17]:
import pandas as pd

In [18]:
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,Ciências aplicadas
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,Ciências aplicadas
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,Ciências aplicadas
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,Ciências aplicadas
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,Generalidades

In [19]:
emprestimos_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142806 entries, 0 to 2142805
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    string
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  CDU_geral             object
dtypes: float64(2), int64(1), object(9), string(1)
memory usage: 228.9+ MB

In [20]:
emprestimos_completo['tipo_vinculo_usuario'].unique()

array(['ALUNO DE GRADUAÇÃO', 'ALUNO DE PÓS-GRADUAÇÃO', 'DOCENTE',
       'SERVIDOR TÉCNICO-ADMINISTRATIVO', 'DOCENTE EXTERNO',
       'ALUNO MÉDIO/TÉCNICO', 'USUÁRIO EXTERNO', 'OUTROS'], dtype=object)

In [21]:
emprestimos_completo['colecao'].unique()

array(['Acervo Circulante', nan, 'Folhetos', 'Acervo de Desbaste',
       'Teses', 'Dissertações', 'Monografias',
       'Publicações de Autores do RN', 'Publicações da UFRN',
       'Multimeios', 'Coleção Mossoroense', 'Eventos',
       'Trabalho Acadêmico', 'Obras de Referência', 'Obras Raras',
       'Literatura de Cordel', 'Coleção Zila Mamede',
       'Necessidades Educacionais Específicas'], dtype=object)

In [22]:
emprestimos_completo['biblioteca'].unique()

array(['Biblioteca Central Zila Mamede',
       'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba',
       'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN',
       'Biblioteca Setorial do Centro Ciências da Saúde - CCS', nan,
       'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia',
       'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET',
       'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA',
       'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó',
       'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT',
       'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ',
       'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA',
       'Biblioteca Setorial do Departamento de Artes - DEART',
       'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT',
       'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe',
       'Biblioteca Setorial Moacyr de Góes - CE',
       'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB',
       'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN',
       'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó',
       'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos',
       'Biblioteca Setorial do Núcleo de Educação da Infância - NEI',
       'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz',
       'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz',
       'Biblioteca Setorial Veríssimo de Melo - Museu Câmara Cascudo - MCC'],
      dtype=object)

In [23]:
emprestimos_completo['status_material'].unique()

array(['REGULAR', nan, 'ESPECIAL', 'NÃO CIRCULA'], dtype=object)

In [24]:
emprestimos_completo['id_emprestimo'].value_counts()

2560028    3
2422542    3
2014596    3
2772079    3
2595954    3
          ..
1437859    1
1437858    1
1437857    1
1437856    1
2989090    1
Name: id_emprestimo, Length: 2139267, dtype: int64

In [25]:
emprestimos_completo.loc[emprestimos_completo['id_emprestimo']==2560028]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
1712958,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1055921.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,671.0,Ciências aplicadas
1712959,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1055569.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699.0,Ciências aplicadas
1712960,2560028,2010082015,2017/11/22 09:44:18.435000000,2017/11/06 19:52:32.782000000,2017/12/07 19:52:23.000000000,2015049280.0,ALUNO DE GRADUAÇÃO,1056359.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,363.0,Ciências sociais

In [26]:
emprestimos = len(emprestimos_completo['id_emprestimo'].drop_duplicates())
emprestimos

2139267

## Quantos exemplares foram emprestados ao total ?

In [27]:
exemplares = len(emprestimos_completo)
exemplares

2142806

## Quantos foram por cada ano ?

In [28]:
emprestimos_data = pd.DataFrame(emprestimos_completo['data_emprestimo'].value_counts()).reset_index()
emprestimos_data.columns = ['data','quantidade']
emprestimos_data['data'] = pd.to_datetime(emprestimos_data['data'])
emprestimos_data

                           data  quantidade
0       2010-12-06 00:00:00.000           6
1       2010-12-15 00:00:00.000           5
2       2010-11-24 00:00:00.000           4
3       2010-08-09 16:03:57.373           3
4       2015-06-10 18:51:56.994           3
...                         ...         ...
2139184 2013-03-01 20:26:43.853           1
2139185 2013-03-01 20:26:43.806           1
2139186 2013-03-01 20:24:56.349           1
2139187 2013-03-01 20:23:26.277           1
2139188 2020-06-09 11:54:02.852           1

[2139189 rows x 2 columns]

In [29]:
emprestimos_por_ano = emprestimos_data.groupby(by=emprestimos_data.data.dt.year).sum()
emprestimos_por_ano

      quantidade
data
2010      196147
2011      229548
2012      250260
2013      259599
2014      235725
2015      225317
2016      107405
2017      229527
2018      202614
2019      180028
2020       26636

In [30]:
emprestimos_por_ano['percentual'] = round((emprestimos_por_ano.quantidade / emprestimos_por_ano.quantidade.sum()) * 100, 2)
emprestimos_por_ano

      quantidade  percentual
data
2010      196147        9.15
2011      229548       10.71
2012      250260       11.68
2013      259599       12.11
2014      235725       11.00
2015      225317       10.52
2016      107405        5.01
2017      229527       10.71
2018      202614        9.46
2019      180028        8.40
2020       26636        1.24

## Quantos foram por cada mês ?

In [31]:
emprestimos_por_mes = emprestimos_data.groupby(by=emprestimos_data.data.dt.month).sum()
emprestimos_por_mes

      quantidade
data
1          66895
2         206206
3         246679
4         208823
5         199245
6         133598
7         130812
8         253100
9         227147
10        206765
11        180909
12         82627

In [32]:
emprestimos_por_mes['percentual'] = round((emprestimos_por_mes.quantidade / emprestimos_por_mes.quantidade.sum()) * 100, 2)
emprestimos_por_mes

      quantidade  percentual
data
1          66895        3.12
2         206206        9.62
3         246679       11.51
4         208823        9.75
5         199245        9.30
6         133598        6.23
7         130812        6.10
8         253100       11.81
9         227147       10.60
10        206765        9.65
11        180909        8.44
12         82627        3.86

## Quantos foram por cada ano e mês ?

In [33]:
emprestimos_por_ano_e_mes = emprestimos_data.groupby(by=[emprestimos_data.data.dt.year,emprestimos_data.data.dt.month]).sum()
emprestimos_por_ano_e_mes.index.names = ['ano','mes']
emprestimos_por_ano_e_mes

          quantidade
ano  mes
2010 1          5408
     2         12097
     3         23417
     4         19509
     5         19315
...              ...
2020 1          3722
     2         11083
     3         11821
     5             8
     6             2

[119 rows x 1 columns]

### INCONSISTÊNCIA

In [34]:
emprestimos_por_ano_e_mes.reset_index().pivot(index='mes',columns='ano')

    quantidade                                                                 \
ano       2010     2011     2012     2013     2014     2015     2016     2017
mes
1       5408.0   1871.0   8058.0   8508.0  16887.0   6981.0      NaN   5288.0
2      12097.0  15646.0  23292.0  28310.0  27828.0  27524.0      NaN  20739.0
3      23417.0  24549.0  32072.0  27624.0  21956.0  30383.0      NaN  29101.0
4      19509.0  22644.0  27067.0  29871.0  20713.0  25356.0      NaN  21516.0
5      19315.0  24592.0  25879.0  25662.0  18521.0  23288.0      NaN  23989.0
6      15634.0  19335.0  16341.0  15259.0   7487.0  13491.0      NaN  18342.0
7       8196.0   9458.0   6926.0  16985.0  19979.0  14672.0  15076.0  15262.0
8      22817.0  27906.0  25408.0  26611.0  26143.0  20759.0  27776.0  28975.0
9      22706.0  26556.0  24240.0  26535.0  26715.0  16933.0  24700.0  22507.0
10     19176.0  22360.0  25167.0  23326.0  23677.0  19404.0  19105.0  20352.0
11     18097.0  21305.0  23307.0  21215.0  18802.0  18978.0  13823.0  17308.0
12      9775.0  13326.0  12503.0   9693.0   7017.0   7548.0   6925.0   6148.0


ano     2018     2019     2020
mes
1     5347.0   4825.0   3722.0
2    17581.0  22106.0  11083.0
3    24924.0  20832.0  11821.0
4    22829.0  19318.0      NaN
5    20401.0  17590.0      8.0
6    16261.0  11446.0      2.0
7    10034.0  14224.0      NaN
8    25934.0  20771.0      NaN
9    18835.0  17420.0      NaN
10   18615.0  15583.0      NaN
11   15791.0  12283.0      NaN
12    6062.0   3630.0      NaN

In [35]:
dados_2016_1.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,2351371,2011010806,2017/01/13 07:22:40.736000000,2017/01/02 08:01:14.113000000,2017/01/30 07:05:05.000000000,2.014036e+09,RENATA GOMES LOPES,ALUNO DE GRADUAÇÃO
1,2351372,L078593,2017/01/31 07:31:36.960000000,2017/01/02 08:29:46.657000000,2017/02/21 13:16:48.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
2,2351373,2010040100,2017/01/31 07:31:36.902000000,2017/01/02 08:29:46.722000000,2017/02/21 13:16:33.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
3,2351374,2013105705,2017/01/31 07:31:36.843000000,2017/01/02 08:29:46.794000000,2017/02/21 13:15:46.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
4,2351375,L057436,2017/01/31 07:30:36.293000000,2017/01/02 08:38:40.009000000,2017/02/21 13:16:29.000000000,2.016101e+10,ISAILMA DA SILVA ARAÚJO,ALUNO DE PÓS-GRADUAÇÃO

In [36]:
dados_2017_1.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,2351371,2011010806,2017/01/13 07:22:40.736000000,2017/01/02 08:01:14.113000000,2017/01/30 07:05:05.000000000,2.014036e+09,RENATA GOMES LOPES,ALUNO DE GRADUAÇÃO
1,2351372,L078593,2017/01/31 07:31:36.960000000,2017/01/02 08:29:46.657000000,2017/02/21 13:16:48.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
2,2351373,2010040100,2017/01/31 07:31:36.902000000,2017/01/02 08:29:46.722000000,2017/02/21 13:16:33.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
3,2351374,2013105705,2017/01/31 07:31:36.843000000,2017/01/02 08:29:46.794000000,2017/02/21 13:15:46.000000000,2.016101e+10,SANDRO DAMIÃO RIBEIRO DA SILVA,ALUNO DE PÓS-GRADUAÇÃO
4,2351375,L057436,2017/01/31 07:30:36.293000000,2017/01/02 08:38:40.009000000,2017/02/21 13:16:29.000000000,2.016101e+10,ISAILMA DA SILVA ARAÚJO,ALUNO DE PÓS-GRADUAÇÃO

## Qual é a quantidade de empréstimos por hora ao longo do dia ?

In [37]:
emprestimos_data.data

0         2010-12-06 00:00:00.000
1         2010-12-15 00:00:00.000
2         2010-11-24 00:00:00.000
3         2010-08-09 16:03:57.373
4         2015-06-10 18:51:56.994
                    ...
2139184   2013-03-01 20:26:43.853
2139185   2013-03-01 20:26:43.806
2139186   2013-03-01 20:24:56.349
2139187   2013-03-01 20:23:26.277
2139188   2020-06-09 11:54:02.852
Name: data, Length: 2139189, dtype: datetime64[ns]

In [38]:
emprestimos_por_hora = emprestimos_data.groupby(by=emprestimos_data.data.dt.hour).sum()
emprestimos_por_hora.index.names = ['horas']
emprestimos_por_hora['percentual'] = round((emprestimos_por_hora.quantidade / emprestimos_por_hora.quantidade.sum()) * 100, 3)
emprestimos_por_hora

       quantidade  percentual
horas
0              61       0.003
6              18       0.001
7           20400       0.952
8          107199       5.003
9          135740       6.335
10         189366       8.837
11         179488       8.376
12         147561       6.886
13         128208       5.983
14         154196       7.196
15         169727       7.921
16         214578      10.014
17         186947       8.724
18         186294       8.694
19         112562       5.253
20         145740       6.801
21          64227       2.997
22            440       0.021
23             54       0.003

# Dia 4 - Continuando a explorar os dados

In [1]:
import pandas as pd

In [39]:
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU_geral
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2009045971.0,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142801,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,Ciências aplicadas
2142802,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,Ciências aplicadas
2142803,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,Ciências aplicadas
2142804,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,Ciências aplicadas
2142805,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,Generalidades

In [40]:
emprestimos_completo['data_emprestimo'] = pd.to_datetime(emprestimos_completo['data_emprestimo'])

## Funções

In [41]:
def tabela_frequencia(variavel):
  '''
  Esta função irá gerar uma tabela de frequência com percentuais de acordo 
  com a variável passada. 

  variavel = variável categórica escolhida de dentro do conjunto de dados 
  emprestimos_completo
  '''

  dataframe = pd.DataFrame(emprestimos_completo[variavel].value_counts())                      
  dataframe.columns = ['quantidade']
  dataframe['percentual'] = round((dataframe.quantidade / dataframe.quantidade.sum())*100,4)

  return dataframe

In [42]:
def tabela_frequencia_por_ano(variavel):
  '''
  Esta função irá gerar uma tabela de frequência com percentuais de acordo 
  com a variável passada. 

  variavel = variável categórica escolhida de dentro do conjunto de dados 
  emprestimos_completo
  '''

  dataframe = emprestimos_completo.loc[:,['data_emprestimo', variavel]]
  dataframe['data_emprestimo'] = dataframe['data_emprestimo'].dt.year
  dataframe = pd.DataFrame(dataframe.value_counts().groupby(by=['data_emprestimo',variavel]).sum(),columns=['quantidade'])
  dataframe.index.names = ['ano',variavel]
  dataframe = dataframe.reset_index().pivot(index=variavel,columns='ano')

  return dataframe

## Quantos foram por tipo de vinculo do usuario ?

In [43]:
tabela_frequencia('tipo_vinculo_usuario')

                                 quantidade  percentual
ALUNO DE GRADUAÇÃO                  1680815     78.4399
ALUNO DE PÓS-GRADUAÇÃO               302621     14.1227
DOCENTE                               74212      3.4633
SERVIDOR TÉCNICO-ADMINISTRATIVO       32546      1.5188
ALUNO MÉDIO/TÉCNICO                   27541      1.2853
DOCENTE EXTERNO                       22520      1.0510
USUÁRIO EXTERNO                        2545      0.1188
OUTROS                                    6      0.0003

## Quantos foram por tipo de vinculo por ano ?

In [44]:
tabela_frequencia_por_ano('tipo_vinculo_usuario')

                                quantidade                                \
ano                                   2010      2011      2012      2013
tipo_vinculo_usuario
ALUNO DE GRADUAÇÃO                156929.0  189140.0  203694.0  208429.0
ALUNO DE PÓS-GRADUAÇÃO             26866.0   28113.0   31186.0   34832.0
ALUNO MÉDIO/TÉCNICO                 1030.0    1300.0    2909.0    3243.0
DOCENTE                             6975.0    7078.0    8133.0    8436.0
DOCENTE EXTERNO                      509.0     425.0     644.0     698.0
OUTROS                                 6.0       NaN       NaN       NaN
SERVIDOR TÉCNICO-ADMINISTRATIVO     3561.0    3329.0    3517.0    3746.0
USUÁRIO EXTERNO                      271.0     163.0     177.0     215.0

                                                                        \
ano                                  2014      2015     2016      2017
tipo_vinculo_usuario
ALUNO DE GRADUAÇÃO               185291.0  173303.0  81675.0  175082.0
ALUNO DE PÓS-GRADUAÇÃO            34674.0   34668.0  16684.0   33856.0
ALUNO MÉDIO/TÉCNICO                2939.0    3678.0   1767.0    4269.0
DOCENTE                            7920.0    7322.0   3958.0    8147.0
DOCENTE EXTERNO                    1010.0    3016.0   1594.0    4530.0
OUTROS                                NaN       NaN      NaN       NaN
SERVIDOR TÉCNICO-ADMINISTRATIVO    3393.0    3020.0   1601.0    3293.0
USUÁRIO EXTERNO                     498.0     310.0    126.0     350.0


ano                                  2018      2019     2020
tipo_vinculo_usuario
ALUNO DE GRADUAÇÃO               153034.0  134808.0  19430.0
ALUNO DE PÓS-GRADUAÇÃO            30351.0   27433.0   3958.0
ALUNO MÉDIO/TÉCNICO                3325.0    2668.0    413.0
DOCENTE                            7570.0    7149.0   1524.0
DOCENTE EXTERNO                    4779.0    4667.0    648.0
OUTROS                                NaN       NaN      NaN
SERVIDOR TÉCNICO-ADMINISTRATIVO    3268.0    3177.0    641.0
USUÁRIO EXTERNO                     287.0     126.0     22.0

## Quantos foram por coleção ?

In [45]:
tabela_frequencia('colecao')

                                       quantidade  percentual
Acervo Circulante                         1940746     98.5214
Acervo de Desbaste                          10383      0.5271
Multimeios                                   7644      0.3880
Monografias                                  3930      0.1995
Dissertações                                 2319      0.1177
Obras de Referência                          1878      0.0953
Publicações de Autores do RN                  842      0.0427
Publicações da UFRN                           740      0.0376
Teses                                         698      0.0354
Folhetos                                      267      0.0136
Trabalho Acadêmico                            111      0.0056
Necessidades Educacionais Específicas         108      0.0055
Eventos                                       100      0.0051
Coleção Mossoroense                            44      0.0022
Coleção Zila Mamede                            30      0.0015
Literatura de Cordel                           24      0.0012
Obras Raras                                     8      0.0004

## Quantos foram por coleção por ano ?

In [46]:
tabela_frequencia_por_ano('colecao')

                                      quantidade                      \
ano                                         2010      2011      2012
colecao
Acervo Circulante                       159087.0  193782.0  218807.0
Acervo de Desbaste                        1898.0    1578.0    1017.0
Coleção Mossoroense                         16.0       5.0       6.0
Coleção Zila Mamede                          2.0       4.0       6.0
Dissertações                               405.0     370.0     354.0
Eventos                                     23.0      12.0      10.0
Folhetos                                    40.0      35.0      39.0
Literatura de Cordel                         1.0       1.0       NaN
Monografias                                584.0     612.0     504.0
Multimeios                                 779.0    1083.0    1204.0
Necessidades Educacionais Específicas        NaN       2.0      14.0
Obras Raras                                  1.0       2.0       3.0
Obras de Referência                         35.0      87.0     105.0
Publicações da UFRN                        108.0      96.0      85.0
Publicações de Autores do RN               138.0     147.0      96.0
Teses                                      156.0     129.0     113.0
Trabalho Acadêmico                          19.0      23.0      19.0

                                                                               \
ano                                        2013      2014      2015      2016
colecao
Acervo Circulante                      232179.0  216615.0  211628.0  102173.0
Acervo de Desbaste                        789.0     858.0    1177.0     664.0
Coleção Mossoroense                         6.0       3.0       5.0       NaN
Coleção Zila Mamede                         3.0       4.0       9.0       NaN
Dissertações                              298.0     224.0     263.0      88.0
Eventos                                    17.0      14.0       9.0       2.0
Folhetos                                   42.0      37.0      20.0       9.0
Literatura de Cordel                        5.0       6.0       1.0       1.0
Monografias                               710.0     730.0     355.0      80.0
Multimeios                               1019.0    1079.0     848.0     334.0
Necessidades Educacionais Específicas      10.0       2.0       5.0      13.0
Obras Raras                                 1.0       NaN       NaN       NaN
Obras de Referência                       139.0     216.0     212.0      90.0
Publicações da UFRN                        86.0      83.0      88.0      26.0
Publicações de Autores do RN              132.0     111.0      74.0      28.0
Teses                                      88.0      60.0      52.0      14.0
Trabalho Acadêmico                         14.0       5.0      13.0       2.0


ano                                        2017      2018      2019     2020
colecao
Acervo Circulante                      217202.0  192934.0  170829.0  25510.0
Acervo de Desbaste                       1487.0     446.0     410.0     59.0
Coleção Mossoroense                         NaN       2.0       1.0      NaN
Coleção Zila Mamede                         NaN       NaN       2.0      NaN
Dissertações                              146.0     117.0      49.0      5.0
Eventos                                     3.0       7.0       3.0      NaN
Folhetos                                   17.0      11.0      15.0      2.0
Literatura de Cordel                        NaN       7.0       1.0      1.0
Monografias                               155.0     126.0      66.0      8.0
Multimeios                                596.0     374.0     274.0     54.0
Necessidades Educacionais Específicas      32.0      18.0      12.0      NaN
Obras Raras                                 NaN       NaN       1.0      NaN
Obras de Referência                       179.0     339.0     451.0     25.0
Publicações da UFRN                        45.0      72.0      47.0      4.0
Publicações de Autores do RN               39.0      52.0      23.0      2.0
Teses                                      40.0      18.0      27.0      1.0
Trabalho Acadêmico                          8.0       3.0       5.0      NaN

## Quantos foram por biblioteca ?

In [47]:
tabela_frequencia('biblioteca')

                                                    quantidade  percentual
Biblioteca Central Zila Mamede                         1359077     68.9932
Biblioteca Setorial do Centro Ciências da Saúde...      113332      5.7533
Biblioteca Setorial da Faculdade de Ciências da...       72324      3.6715
Biblioteca Setorial Prof. Alberto Moreira Campo...       62496      3.1726
Biblioteca Setorial Profª. Maria Lúcia da Costa...       57263      2.9069
Biblioteca Setorial Bertha Cruz Enders - ­Escol...       44419      2.2549
Biblioteca Setorial do Centro de Ciências Human...       38572      1.9581
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...       32472      1.6484
Biblioteca Setorial Profª. Maria José Mamede Ga...       27547      1.3984
Biblioteca Setorial Prof. Francisco Gurgel De A...       25574      1.2983
Biblioteca Setorial Prof. Rodolfo Helinski - Es...       24729      1.2554
Biblioteca Setorial do Núcleo de Educação da In...       21497      1.0913
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...       21494      1.0911
Biblioteca Setorial Pe. Jaime Diniz - Escola de...       20393      1.0352
Biblioteca Setorial do Departamento de Artes - ...       15756      0.7998
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...       11790      0.5985
Biblioteca Setorial do Centro Ciências Sociais ...        9953      0.5053
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...        4761      0.2417
Biblioteca Setorial Prof. Horácio Nicolas Solim...        3960      0.2010
Biblioteca Setorial Moacyr de Góes - CE                    994      0.0505
Biblioteca Setorial Árvore do Conhecimento - In...         862      0.0438
Biblioteca Setorial do Núcleo de Ensino Superio...         605      0.0307
Biblioteca Setorial Veríssimo de Melo - Museu C...           2      0.0001

## Quantos foram por biblioteca por ano ?

In [48]:
tabela_frequencia_por_ano('biblioteca')

                                                   quantidade            \
ano                                                      2010      2011
biblioteca
Biblioteca Central Zila Mamede                       123309.0  146504.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...     5386.0    5781.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...      107.0     109.0
Biblioteca Setorial Moacyr de Góes - CE                  89.0     160.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...     1068.0    2073.0
Biblioteca Setorial Prof. Alberto Moreira Campo...     5940.0    5709.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...      637.0     741.0
Biblioteca Setorial Prof. Francisco Gurgel De A...     3065.0    2907.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...      685.0     659.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...       55.0      87.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...      386.0     257.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...     2744.0    2575.0
Biblioteca Setorial Profª. Maria José Mamede Ga...        NaN    1471.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...        6.0    1341.0
Biblioteca Setorial Veríssimo de Melo - Museu C...        NaN       NaN
Biblioteca Setorial da Faculdade de Ciências da...        NaN    4245.0
Biblioteca Setorial do Centro Ciências Sociais ...      886.0     882.0
Biblioteca Setorial do Centro Ciências da Saúde...    13667.0   16387.0
Biblioteca Setorial do Centro de Ciências Human...     4355.0    5101.0
Biblioteca Setorial do Departamento de Artes - ...      900.0     976.0
Biblioteca Setorial do Núcleo de Educação da In...        NaN       1.0
Biblioteca Setorial do Núcleo de Ensino Superio...        NaN       NaN
Biblioteca Setorial Árvore do Conhecimento - In...        7.0       2.0

                                                                        \
ano                                                     2012      2013
biblioteca
Biblioteca Central Zila Mamede                      160760.0  164531.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...    5533.0    5474.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...     109.0      99.0
Biblioteca Setorial Moacyr de Góes - CE                 86.0      97.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...    2691.0    2647.0
Biblioteca Setorial Prof. Alberto Moreira Campo...    6054.0    6658.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...     454.0     452.0
Biblioteca Setorial Prof. Francisco Gurgel De A...    2368.0    2962.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...     526.0     402.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...     102.0     322.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...    1871.0    2517.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...    2515.0    2089.0
Biblioteca Setorial Profª. Maria José Mamede Ga...    4034.0    5510.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...    4684.0    8206.0
Biblioteca Setorial Veríssimo de Melo - Museu C...       NaN       NaN
Biblioteca Setorial da Faculdade de Ciências da...   10423.0   10518.0
Biblioteca Setorial do Centro Ciências Sociais ...     592.0     541.0
Biblioteca Setorial do Centro Ciências da Saúde...   15214.0   17110.0
Biblioteca Setorial do Centro de Ciências Human...    3116.0    3990.0
Biblioteca Setorial do Departamento de Artes - ...    1000.0    1058.0
Biblioteca Setorial do Núcleo de Educação da In...     238.0     170.0
Biblioteca Setorial do Núcleo de Ensino Superio...       NaN      87.0
Biblioteca Setorial Árvore do Conhecimento - In...      12.0      98.0

                                                                        \
ano                                                     2014      2015
biblioteca
Biblioteca Central Zila Mamede                      154737.0  149467.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...    4618.0    4812.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...    1908.0    5491.0
Biblioteca Setorial Moacyr de Góes - CE                 70.0      47.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...    3094.0    2578.0
Biblioteca Setorial Prof. Alberto Moreira Campo...    7914.0    6362.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...     446.0     500.0
Biblioteca Setorial Prof. Francisco Gurgel De A...    3175.0    3494.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...     352.0     239.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...     791.0    1446.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...    2654.0    3304.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...    2001.0    2056.0
Biblioteca Setorial Profª. Maria José Mamede Ga...    4031.0    2397.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...    8434.0    6619.0
Biblioteca Setorial Veríssimo de Melo - Museu C...       NaN       NaN
Biblioteca Setorial da Faculdade de Ciências da...    9747.0    9217.0
Biblioteca Setorial do Centro Ciências Sociais ...     496.0     416.0
Biblioteca Setorial do Centro Ciências da Saúde...   11016.0    8739.0
Biblioteca Setorial do Centro de Ciências Human...    2859.0    2788.0
Biblioteca Setorial do Departamento de Artes - ...     951.0    2105.0
Biblioteca Setorial do Núcleo de Educação da In...     491.0    2433.0
Biblioteca Setorial do Núcleo de Ensino Superio...     192.0     171.0
Biblioteca Setorial Árvore do Conhecimento - In...      70.0      78.0

                                                                       \
ano                                                    2016      2017
biblioteca
Biblioteca Central Zila Mamede                      68912.0  141612.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...   1943.0    4114.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...   4036.0    7914.0
Biblioteca Setorial Moacyr de Góes - CE                57.0      77.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...   1103.0    1924.0
Biblioteca Setorial Prof. Alberto Moreira Campo...   3323.0    7600.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...    228.0     522.0
Biblioteca Setorial Prof. Francisco Gurgel De A...   1430.0    2636.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...    174.0     328.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...    909.0    2207.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...   1734.0    4607.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...   1076.0    2343.0
Biblioteca Setorial Profª. Maria José Mamede Ga...   1057.0    3027.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...   3046.0    8128.0
Biblioteca Setorial Veríssimo de Melo - Museu C...      NaN       NaN
Biblioteca Setorial da Faculdade de Ciências da...   4182.0    9189.0
Biblioteca Setorial do Centro Ciências Sociais ...    494.0    1202.0
Biblioteca Setorial do Centro Ciências da Saúde...   5248.0   10318.0
Biblioteca Setorial do Centro de Ciências Human...   1635.0    4738.0
Biblioteca Setorial do Departamento de Artes - ...   1236.0    2498.0
Biblioteca Setorial do Núcleo de Educação da In...   1624.0    4797.0
Biblioteca Setorial do Núcleo de Ensino Superio...     22.0      63.0
Biblioteca Setorial Árvore do Conhecimento - In...     55.0     105.0

                                                                        \
ano                                                     2018      2019
biblioteca
Biblioteca Central Zila Mamede                      124532.0  108719.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...    3334.0    2938.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...    6702.0    5152.0
Biblioteca Setorial Moacyr de Góes - CE                 39.0     218.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...    1570.0    1421.0
Biblioteca Setorial Prof. Alberto Moreira Campo...    6306.0    5800.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...     451.0     290.0
Biblioteca Setorial Prof. Francisco Gurgel De A...    1819.0    1528.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...     295.0     261.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...    2701.0    2781.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...    3720.0    3201.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...    2120.0    1722.0
Biblioteca Setorial Profª. Maria José Mamede Ga...    2984.0    2675.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...    7747.0    8009.0
Biblioteca Setorial Veríssimo de Melo - Museu C...       NaN       NaN
Biblioteca Setorial da Faculdade de Ciências da...    7250.0    6357.0
Biblioteca Setorial do Centro Ciências Sociais ...    1805.0    2334.0
Biblioteca Setorial do Centro Ciências da Saúde...    8122.0    6422.0
Biblioteca Setorial do Centro de Ciências Human...    4826.0    4561.0
Biblioteca Setorial do Departamento de Artes - ...    2588.0    2148.0
Biblioteca Setorial do Núcleo de Educação da In...    5370.0    5461.0
Biblioteca Setorial do Núcleo de Ensino Superio...      39.0      25.0
Biblioteca Setorial Árvore do Conhecimento - In...     206.0     193.0


ano                                                    2020
biblioteca
Biblioteca Central Zila Mamede                      15994.0
Biblioteca Setorial Bertha Cruz Enders - ­Escol...    486.0
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...    845.0
Biblioteca Setorial Moacyr de Góes - CE                54.0
Biblioteca Setorial Pe. Jaime Diniz - Escola de...    224.0
Biblioteca Setorial Prof. Alberto Moreira Campo...    830.0
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...     40.0
Biblioteca Setorial Prof. Francisco Gurgel De A...    190.0
Biblioteca Setorial Prof. Horácio Nicolas Solim...     39.0
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...    389.0
Biblioteca Setorial Prof. Rodolfo Helinski - Es...    478.0
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...    253.0
Biblioteca Setorial Profª. Maria José Mamede Ga...    361.0
Biblioteca Setorial Profª. Maria Lúcia da Costa...   1043.0
Biblioteca Setorial Veríssimo de Melo - Museu C...      2.0
Biblioteca Setorial da Faculdade de Ciências da...   1196.0
Biblioteca Setorial do Centro Ciências Sociais ...    305.0
Biblioteca Setorial do Centro Ciências da Saúde...   1089.0
Biblioteca Setorial do Centro de Ciências Human...    603.0
Biblioteca Setorial do Departamento de Artes - ...    296.0
Biblioteca Setorial do Núcleo de Educação da In...    912.0
Biblioteca Setorial do Núcleo de Ensino Superio...      6.0
Biblioteca Setorial Árvore do Conhecimento - In...     36.0

## Quantos foram pela CDU geral?

In [49]:
tabela_frequencia('CDU_geral')

                                 quantidade  percentual
Ciências aplicadas                  1375520     64.1925
Ciências sociais                     342693     15.9927
Geografia. Biografia. História.      180914      8.4429
Matemática e ciências naturais        61118      2.8522
Generalidades                         56443      2.6341
Religião                              56151      2.6204
Filosofia e psicologia                54596      2.5479
Belas artes                            7892      0.3683
Linguagem                              7479      0.3490

## Quantos foram pela CDU geral por ano?

In [50]:
tabela_frequencia_por_ano('CDU_geral')

                                quantidade                                  \
ano                                   2010    2011    2012    2013    2014
CDU_geral
Belas artes                             38      52      55     142      83
Ciências aplicadas                  162476  196803  201174  188020  152327
Ciências sociais                       506     773   20728   46893   54169
Filosofia e psicologia                  38      50     100     115    4438
Generalidades                           43      52      89      96    4445
Geografia. Biografia. História.      32916   31643   27934   24114   15711
Linguagem                               60      56      54      53      33
Matemática e ciências naturais          43      79      65      66      91
Religião                                27      40      61     100    4428


ano                                2015   2016    2017   2018   2019   2020
CDU_geral
Belas artes                          66     23      77   2487   4178    691
Ciências aplicadas               126243  55475  110841  91966  78644  11551
Ciências sociais                  53601  25157   52924  44599  37825   5518
Filosofia e psicologia            11372   6059   12388  10142   8627   1267
Generalidades                     11639   6331   12752  10587   9068   1341
Geografia. Biografia. História.   10588   3893    9633  10638  12157   1687
Linguagem                            61     44      91   2431   3934    662
Matemática e ciências naturais      195   4223   17991  19074  16712   2579
Religião                          11552   6200   12830  10690   8883   1340